[2020-10-01 07:11] himanshusharma89 opened #12 "Labeler Action"

[2020-10-01 07:11] himanshusharma89 opened #13 "Deploy APK Action"

[2020-10-03 17:11] Mastersam07 commented on #13
Where should the apk be deployed to? Github release?

[2020-10-03 17:11] Mastersam07 commented on #12
More details please

[2020-10-04 01:16] himanshusharma89 commented on #13
Yes @Mastersam07

[2020-10-04 01:17] himanshusharma89 commented on #12
@Mastersam07 Description updated

[2020-10-11 13:13] AvinashMahanthi opened #15 "A Fade Transition Between Screens."
Here I will be implementing Fade Transition Between Screens.
kindly assign me this work, I wanna take it

[2020-10-11 13:38] himanshusharma89 commented on #15
@AvinashMahanthi transitions are already added in the repo, so need for Fade Transition as it is a retro theme based app.

[2020-10-11 13:38] #15 closed

[2020-10-13 15:03] himanshusharma89 opened #17 "Delete branch on close PR"

[2020-10-13 15:19] lordvins226 commented on #12
Hi. you can close this issue

[2020-10-13 15:21] lordvins226 commented on #13
i will try this issue and make PR

[2020-10-13 15:22] himanshusharma89 commented on #13
Ok @lordvins226, assigned to you

[2020-10-14 11:39] Tushar-OP commented on #17
I would like to try this issue, can you assign it to me?

[2020-10-14 13:21] himanshusharma89 commented on #17
Sure, @Tushar-OP

[2020-10-15 16:30] Tushar-OP commented on #17
I wanted to clarify, do we have to delete the merged branch(because github already natively does this) or what?

[2020-10-15 16:46] himanshusharma89 commented on #17
@Tushar-OP, Github doesn't automate the process for deleting the branch of merged PR, you need to install a bot or add a GitHub Action.

[2020-10-15 16:57] Tushar-OP commented on #17
Okay, so we need to delete the branch of merged PR right?

[2020-10-15 16:58] himanshusharma89 commented on #17
Yes @Tushar-OP

[2020-10-15 16:59] Tushar-OP commented on #17
Okay, @himanshusharma89!

[2020-10-17 07:39] Tushar-OP commented on #17
@himanshusharma89  I have created a PR for this, please check it out.

[2020-10-20 02:12] #17 closed

[2020-10-20 08:42] ecrax commented on #13
I would have a workflow file ready. It generates a new version number, then builds and tests the build, and then makes a GitHub release with the newest version number and the built apk as an artifact.

I could create a pull request with the workflow file :)

[2020-10-20 09:55] lordvins226 commented on #13
Make your PR

[2020-10-20 09:57] himanshusharma89 commented on #13
@ecrax perfect! go ahead create a PR

[2020-10-20 13:02] ecrax commented on #13
@himanshusharma89 I have added a PR referencing this issue

[2020-10-20 13:47] ecrax opened #20 "Build fails test"
Remove the test from workflow file or rewrite test.

[2020-10-20 13:50] himanshusharma89 commented on #20
@ecrax I fixed it and commented on the test command. You can take up another issue or create one if you want. And if you want to work on GitHub Action, check this: https://github.com/himanshusharma89/flutterx100/issues/17

[2020-10-20 13:53] ecrax commented on #20
I sure will, but the build still fails right?
Do you know why?

[2020-10-20 13:54] himanshusharma89 commented on #20
@ecrax Yeah, most probably because of the earlier merge, an import is causing the issue. I'll fix that

[2020-10-20 13:55] ecrax commented on #20
Ok cool, just wanted to make sure it is not because of the workflow :)

[2020-10-20 13:55] #20 closed

[2020-10-20 13:56] himanshusharma89 commented on #20
@ecrax your workflow is good

[2020-10-20 15:49] ecrax commented on #13
Isn't this issue ready to close?

[2020-10-20 15:55] himanshusharma89 commented on #13
Yeah @ecrax, closing it. I thought you mentioned this issue in the PR (as Fixes #13) to automatically delete this issue.

[2020-10-20 15:55] #13 closed

[2021-02-02 05:39] himanshusharma89 opened #21 "Firebase Integration"
Integrate the project to Firebase Console.
Share your email address to perform the task

[2021-02-02 05:41] himanshusharma89 opened #22 "Fix Release CI/CD"

[2021-02-02 05:43] himanshusharma89 opened #23 "Code Linting"
Use the [lint package](https://pub.dev/packages/lint) to add linting rules in the project.

[2021-02-02 06:05] himanshusharma89 opened #24 "Razorpay: Payment Gateway Integration"
Use the [Razorpay package](https://pub.dev/packages/razorpay_flutter) to integrate its payment gateway in the app.

[2021-02-02 17:07] himanshusharma89 opened #25 "Implementing Search"
Implement search functionality in the app to search the products.

[2021-02-02 17:07] himanshusharma89 opened #26 "App Drawer"
Create an app drawer in the dashboard and invoke it from the home using Global Scaffold State key

[2021-02-02 17:08] himanshusharma89 opened #27 "Firebase Authentication"
- [ ] Google Auth
- [ ] Apple Auth

[2021-02-02 17:08] himanshusharma89 opened #28 "Features Suggestion"

[2021-02-17 04:38] himanshusharma89 opened #29 "About Page"

[2021-02-17 08:17] diksh735 commented on #26
Hello!
Hope you are doing well!
I am Diksha Goyal student of NIT Delhi and I have already worked on Flutter and I really liked the idea of your project.
Can I contribute in the same.

[2021-02-17 08:20] himanshusharma89 commented on #26
Sure @diksh735, you can contribute to the project. But, first, are you participating in this years GSSOC? If so, you can contribute to this project from March so that you can earn the points of contribution. If not you can contribute to it right away.

[2021-02-17 08:23] diksh735 commented on #26
Yes, I am participating in it but I would like to start contributing right
away to get familiar with open source.
I hope that is fine!
Another thing all I need to do is fork the repository and push the commits
I make ?
Is that so ?

On Wed, 17 Feb 2021 at 13:51, HIMANSHU SHARMA <notifications@github.com>
wrote:

[2021-02-17 08:36] himanshusharma89 commented on #26
@diksh735 I recommend you to contribute during GSSOC, to gain the points. And yes, you need to fork the repo, work on your forked repo, push the changes in your forked repo and then create a PR from that forked repo.

[2021-02-18 17:45] Vansh-Gupta4 commented on #29
I would like to work on it

[2021-02-18 18:09] himanshusharma89 commented on #29
Sure @Vansh-Gupta4, but are you participating in GSSOC? If so, it is better to contribute from March to gain the points.

[2021-02-18 19:16] Vansh-Gupta4 commented on #29
Yes, I am participating in GSSOC..... but isn't this first come first serve
basis(please dont judge because i new to open source)

On Thu, Feb 18, 2021 at 11:40 PM HIMANSHU SHARMA <notifications@github.com>
wrote:

[2021-02-19 13:51] ajay963 commented on #29
i am new to open source project and i have'nt participated in GSSOC  but i want to contribute to this project can i ??

[2021-02-19 17:37] himanshusharma89 commented on #29
@Vansh-Gupta4 Yeah, but all contributions starts from March

[2021-02-19 17:37] himanshusharma89 commented on #29
@ajay963 Sure, you can contribute to the project

[2021-02-19 18:24] ajay963 commented on #27
I can implement Google auth but I have not an Apple account so what do with that ??

[2021-02-20 14:31] himanshusharma89 commented on #27
@ajay963 You can go for Google Auth, I'll add the services.json and add you as an editor on the firebase console.

[2021-02-20 17:24] ajay963 commented on #27
I am expecting an group such as telegram or  discord is there any for this project ....

[2021-02-20 17:47] himanshusharma89 commented on #27
@ajay963 You are not taking part in GSSOC, right? cause we will not have a group except that of in slack under GSSOC. You can contact me anytime.

[2021-02-21 13:04] diksh735 commented on #26
There is a menu button on the home page screen. Do you want the App drawer to come up from there? And what all List Tiles do you want to have in the drawer ?

[2021-02-21 13:12] diksh735 commented on #25
I would like to work on this. Please assign me this task.

[2021-02-21 13:24] diksh735 commented on #28
We can keep the Settings in the App Drawer and inside settings, we can include Your Orders having the same list as that in the profile section, Account section where user can at least change their username or login via another account, an FAQs section, Logout button because there is no Logout button in the profile section as well.

[2021-02-21 14:48] ajay963 commented on #27
Sir, will you integrate this app with firebase yourself ? Or you are waiting for someone as I have seen this in issue section ,
I can implement firebase  for this project as well as Google auth ..
If you ..
But I think for that I have use my own firebase console ..

[2021-02-21 15:51] ajay963 opened #30 "The overflowing RenderFlex has an orientation of Axis.horizontal"
In the ROTATORY DIALER SECTION retailer name is larger than assign width of container this causers overflow.

[2021-02-21 15:51] ajay963 commented on #30
i have the soloution for this..

[2021-02-21 15:58] himanshusharma89 commented on #26
@diksh735 I'll push the illustrations or details soon

[2021-02-21 16:00] himanshusharma89 commented on #25
@diksh735 I can assign it to you, but you have to wait till I update the details/illustrations of each issue

[2021-02-21 16:01] himanshusharma89 commented on #27
@ajay963 I'll add it myself and add you as an editor. I was busy with my work and do this asap and let you know.

[2021-02-21 16:02] himanshusharma89 commented on #30
@ajay963 Go ahead create a PR

[2021-02-22 09:12] #30 closed

[2021-02-22 16:05] himanshusharma89 commented on #26
Hey, @tiwariadarsh are you participating in GSSOC? If so, you can start form March for gaining the contribution points

[2021-02-22 16:47] tiwariadarsh commented on #26
Yeah I am participating.

[2021-02-22 17:05] himanshusharma89 commented on #26
@tiwariadarsh Okay, so it would be better to start contributing from March to gain the points

[2021-02-28 15:27] #22 closed

[2021-03-01 10:20] nb9960 commented on #24
Are the APIs (verify payment and one to retrieve razorpay order id) for razorpay integration ready? If yes, then I would like to work on this.

[2021-03-01 13:18] piyushpradhan commented on #29
Can I work on this ? I'd really like to contribute to this project.

[2021-03-01 13:34] himanshusharma89 commented on #29
Sure, @piyushpradhan, you can contribute to this project. And if you are participating in GSSOC, you can read the above comments.

[2021-03-01 13:36] himanshusharma89 commented on #24
@nb9960 The API's are generally available to use, for this issue you just need to integrate the Razorpay gateway and open the checkout window in the release build. I'll create a separate issue for creating the payment flow with Nodejs endpoints for the webhook URL.

[2021-03-01 14:14] piyushpradhan commented on #29
Yes, I am participating in GSSOC. Thank you.

[2021-03-01 14:20] tharunc commented on #26
Hello there,
    I would love to contribute to this Issue as a part of **GSSOC'21**. Can you please assign me this issue,
                        THANK YOU

[2021-03-01 14:41] diksh735 commented on #26
Well I already wanted to do this and reached out first. I hope you will let
me do this part.

On Mon, 1 Mar 2021 at 19:51, tharunc <notifications@github.com> wrote:

[2021-03-01 15:09] himanshusharma89 commented on #26
No issues, I'll create more issue by tomorrow night.

[2021-03-03 13:32] Manzee1609 commented on #27
If this issue is still open, I would like on this for GSSOc'21.

[2021-03-03 13:34] Manzee1609 commented on #21
Can this issue be described in a more detailed manner, if found suitable I would like to work on this issue for GSSOC'21

[2021-03-03 18:32] himanshusharma89 commented on #27
@Manzee1609 Sure, let's wait for the coding period to start

[2021-03-03 18:33] himanshusharma89 commented on #21
@Manzee1609 I'll add new issues and description to all the issue by tomorrow night.

[2021-03-04 08:00] himanshusharma89 opened #32 "Remove Scroll Glow in Horizontal PageView"
Remove the scroll glow while scrolling through screens in the main.dart

[2021-03-04 08:03] himanshusharma89 opened #33 "Cart Screen"
Update the UI for the Cart screen

[2021-03-04 08:04] himanshusharma89 opened #34 "Cart Screen"
Create a retro theme based UI for the Cart screen

[2021-03-04 08:04] #34 closed

[2021-03-04 08:21] himanshusharma89 opened #35 "Wishlist Screen"
Create a retro theme based UI for the Wishlist screen

[2021-03-04 08:22] himanshusharma89 opened #36 "My Order Screen"
Remove the My Order from Profile and create a new screen similar to that.

[2021-03-04 08:24] himanshusharma89 opened #37 "Hide Keyboard"
Change the focus to hide the keyboard, whenever the user taps on the screen other than the keyboard

[2021-03-04 08:30] himanshusharma89 commented on #28
Thanks, @diksh735. Creating issues for that

[2021-03-04 08:32] himanshusharma89 opened #38 "Settings Screen"
Create Settings Screen containing:

- [x] Your Orders Screen
- [x] Change User Name/Password Screen
- [x] FAQs Screen
- [x] Log Out Button
- [x] Manage Address
- [ ] Notification(enable or disable): @anotherwebguy
- [x] T&C
- [x] GitHub Repo Link Button: Open the in-app web view

[2021-03-04 08:34] himanshusharma89 opened #39 "Profile Screen Update"
- [ ] Update the current profile screen and show the user details and buttons to navigate to the "Your Orders" and "Wishlist" screen:
- [x] Add menu icon to the top right to navigate to the "Settings" screen
- [x] Make the screen responsive for any device.

[2021-03-04 08:39] himanshusharma89 opened #40 "Create Order Flow of payment using Node"
- [ ] Create the endpoint for the orders webhook URL using Node
- [ ] Host the functions
- [ ] Call these methods in the app

We can use Cloud Functions for that, but it requires a Blaze plan on Firebase Console, need to find an alternate way of doing so.

[2021-03-04 08:40] himanshusharma89 opened #41 "Add Firebase Analytics to watch the events"
Create methods to watch over the user activity using Firebase Analytics

[2021-03-04 08:46] Neha62-lit commented on #33
I would like to work on this issue as a part of GSSOC'21!!

[2021-03-04 08:51] Samdid commented on #36
@himanshusharma89  I would like to work on this, please assign it to me

[2021-03-04 08:54] Samdid commented on #32
@himanshusharma89  I would like to work on this

[2021-03-04 08:58] Neha62-lit commented on #37
@himanshusharma89 I would like to work on it!!

[2021-03-04 09:17] himanshusharma89 opened #42 "Use Cloud Messaging to create push notification"

[2021-03-04 09:20] himanshusharma89 commented on #33
Sure, @Neha62-lit. Let's wait for the coding period to start

[2021-03-04 09:21] himanshusharma89 commented on #36
Sure @Samdid, let's wait for the coding period to start in GSSOC, then I'll assign it to you.

[2021-03-04 09:31] himanshusharma89 opened #43 "Use Named Routes"
Use Named Routes with onGenerateROute in the whole app.
This issue will be assigned after all the screens are created.

[2021-03-04 09:32] himanshusharma89 opened #44 "Login Screen"
Create:
- [x] Sign In screen
- [ ] Sign Up screen: @Neha62-lit

[2021-03-04 09:34] himanshusharma89 opened #45 "AdMob integration"
Integrate Admob in the app, it is currently in beta.
This issue can be assigned after the products screen is created.

[2021-03-04 09:34] himanshusharma89 opened #46 "Create Ads Banner"
Follow up of #45

[2021-03-04 09:38] himanshusharma89 opened #47 "Update README"
Update the readme to list out the following

- [ ] License
- [ ] Code of conduct
- [ ] Contributing

You can follow these:
- https://github.com/himanshusharma89/flutterx100
- https://github.com/smaranjitghose/girlscript_app

[2021-03-04 09:41] himanshusharma89 opened #48 "Integrate Remote Config"
Integrate Firebase engagement tool remote config

[2021-03-04 09:42] himanshusharma89 opened #49 "Create auto scroll banners to display products"
Follow up of #48, use the remote data to display scrollable banners

[2021-03-04 09:45] himanshusharma89 opened #50 "Dynamic Links integration"
Integrate firebase tool: dynamic links

[2021-03-04 09:47] himanshusharma89 opened #51 "Setup Products Dynamic Links"
Follow up of #50
Use dynamic links to launch the product screen(directly) when the product is shared by someone.
If the app is not installed lead to the Play/App Store.

[2021-03-04 16:42] Manzee1609 commented on #44
I would like to work on this issue

[2021-03-04 16:43] Manzee1609 commented on #21
Okay! I woukd like to work on this!

[2021-03-04 16:48] Manzee1609 commented on #35
I would like to work on this issue! :)

[2021-03-04 16:50] himanshusharma89 commented on #21
Sure @Manzee1609, let's wait till the 8th, then I'll assign it to you

[2021-03-04 18:03] amanxnanda commented on #46
Hey, @himanshusharma89 I would like to work on this issue, even though I have never worked with ads before. But I feel like it would be a great learning experience.

[2021-03-04 18:08] himanshusharma89 commented on #46
Sure @amanxnanda, but we need to wait till 8th March for GSSOC coding period to begin. After that we’ll discuss about where to place the ads in the product screen or whether we should update the product screen

[2021-03-04 18:09] amanxnanda commented on #46
Sure

[2021-03-04 20:02] Samdid commented on #44
@himanshusharma89 can you please kindly assign it to me?

[2021-03-04 20:08] nb9960 commented on #24
Okay, then I would like to work on this issue as a part of GSSoC'21

[2021-03-04 20:09] nb9960 commented on #50
I would like to work on this and #51 as a part of GSSoC'21

[2021-03-05 03:05] AmjadNoor commented on #47
@himanshusharma89 ,
Can you assign me please.

[2021-03-05 03:48] ishandeveloper commented on #47
@AmjadNoor Are you participating in GSSOC 2021?

[2021-03-05 03:51] AmjadNoor commented on #47
@ishandeveloper  No, I am not participating in GSSOC 2021.

[2021-03-05 04:02] ishandeveloper commented on #47
Sorry @AmjadNoor, we really appreciate your enthusiasm for contributing to this open-source project. However, This issue is reserved only for GSSOC 2021 participants.

Can you please take a look at some other issues without 'GSSOC' label, or a much better way could be to create and file your own issue and we'll assign it you.

### Happy Hacking! ✨

[2021-03-05 04:03] AmjadNoor commented on #47
Ok

[2021-03-05 04:07] ishandeveloper commented on #50
@nb9960 Please go ahead : )

[2021-03-05 10:06] himanshusharma89 commented on #44
@Samdid  I'll assign the issues when the GSSOC coding period starts.

[2021-03-05 10:06] himanshusharma89 commented on #24
@nb9960, I'll assign this issue on the 8th when the coding period starts

[2021-03-05 10:10] himanshusharma89 commented on #47
@AmjadNoor if you want to contribute you can check out our other projects

[2021-03-05 10:11] AmjadNoor commented on #47
Ok

[2021-03-05 19:04] diksh735 commented on #37
I have added the same and created a pull request kindly check the same.

[2021-03-06 07:56] himanshusharma89 opened #54 "Widget Testing"
https://flutter.dev/docs/cookbook/testing/widget/introduction

[2021-03-06 08:07] himanshusharma89 opened #55 "Create MKDocs"
Use MK DOcs to create documentation of the app, you can refer to https://smaranjitghose.github.io/img_ai_app_boilerplate/getting_started/

We will assign this issue one page at a time. The list of pages will be updated soon.

[2021-03-06 08:16] himanshusharma89 opened #56 "Invite Friends"
Use dynamic links to share with your friends to invite. Follow up pf #50

[2021-03-07 18:24] Saransh-cpp commented on #47
@himanshusharma89 I had a doubt, can I be assigned or can I start working on the issue right now or should I comment for assignment from tomorrow i.e. when the coding period for Gssoc start?

[2021-03-07 18:33] himanshusharma89 commented on #47
@Saransh-cpp You need to comment on a particular issue and then when you get assigned for it, you can start working on it.

[2021-03-07 19:41] Saransh-cpp commented on #47
Can I get assigned now, as it is 8th? I will comment on the issues

[2021-03-07 21:05] Saransh-cpp opened #57 "Renderflex overflow at the bottom of cart.dart"
## Screenshot

<img src="https://user-images.githubusercontent.com/74055102/110254796-aa210c00-7fb6-11eb-9abf-5b6732a661d9.png"  height="500px"/>

I would like to work on this issue as a part of GSSoC.

[2021-03-08 04:17] sssash18 commented on #51
Can I work on this issue @himanshusharma89 ? But it would be only possible after issue #50  is resolved right ?

[2021-03-08 04:18] sssash18 commented on #45
Can I work on this issue @himanshusharma89  ?

[2021-03-08 04:28] himanshusharma89 commented on #47
Sure @Saransh-cpp

[2021-03-08 04:29] himanshusharma89 commented on #21
@Manzee1609, can you share your Gmail id? to solve this issue

[2021-03-08 04:30] himanshusharma89 commented on #24
@nb9960 Can you just integrate it and test it with the cart screen with the button, to open the checkout window? I am assigning this issue to you

[2021-03-08 04:31] nb9960 commented on #24
Sure, but for that too one test razorpay API would be required. Can you please provide that?

[2021-03-08 04:34] nb9960 commented on #56
Since this is the follow up of #50 Do I have to work on this as well?

[2021-03-08 04:35] himanshusharma89 commented on #25
@diksh735 I just saw that you created a PR for App Drawer, so I'll remove this task from you until that one is done.

[2021-03-08 04:37] himanshusharma89 commented on #45
Sure, are you participating in GSSOC'21?

[2021-03-08 04:38] himanshusharma89 commented on #51
Yeah, we need to work on #50 to resolve this and also one person can be assigned to only one issue at a time.

[2021-03-08 04:38] himanshusharma89 commented on #24
@nb9960 Check this: https://pub.dev/packages/razorpay_flutter

[2021-03-08 04:41] diksh735 commented on #25
Okay

On Mon, 8 Mar 2021 at 10:05, HIMANSHU SHARMA <notifications@github.com>
wrote:

[2021-03-08 04:41] himanshusharma89 commented on #27
@ajay963 are you participating in GSSOC'21? If so I'll assign this issue to you and @Manzee1609 one person can be assigned to one issue at a time.
This issue is a follow up of #21, so you need to wait till it is resolved.

[2021-03-08 04:42] ajay963 commented on #27
No, but I come here first
So I should try this first

[2021-03-08 04:43] Manzee1609 commented on #21
Email - mansikalaria16@gmail.com

On Mon, 8 Mar 2021, 9:59 am HIMANSHU SHARMA, <notifications@github.com>
wrote:

[2021-03-08 04:43] himanshusharma89 commented on #29
@Vansh-Gupta4 assigning it to you as you commented on it earlier. And @piyushpradhan, you can comment on any other issue.

[2021-03-08 04:44] diksh735 commented on #25
So should I do this or generate a new PR for App Drawer ?

[2021-03-08 04:45] himanshusharma89 commented on #56
Yes @nb9960, but one person can be assigned to one issue at a time.

[2021-03-08 04:45] himanshusharma89 commented on #25
@diksh735 Create a PR for App Drawer only as it is the issue assigned to you.

[2021-03-08 04:45] sssash18 commented on #45
Yes I am a participant

[2021-03-08 04:47] himanshusharma89 commented on #27
@ajay963 Read the comment again. I said if you are participating in GSSOC I'll assign it to you. You didn't respond to the question.

[2021-03-08 04:48] himanshusharma89 commented on #21
Invitation sent @Manzee1609, also refer to this for integration: https://firebase.google.com/docs/flutter/setup?platform=android

[2021-03-08 04:49] ajay963 commented on #27
I am not participating in GSSOC

[2021-03-08 04:49] himanshusharma89 commented on #45
Okay, I'll assign it to you. Let me check the Admob docs first and you need to wait until firebase is integrated. I'll update you asap.

[2021-03-08 04:52] himanshusharma89 commented on #27
@ajay963 I would recommend you to contribute to our other Flutter projects as this one is registered for GSSOC. But if you still want to contribute to this project, you can create issues for this project and we might assign it to you if it doesn't already exist.

[2021-03-08 04:56] sssash18 commented on #45
Ok
Thank you for assigning it to me...

[2021-03-08 05:44] nb9960 commented on #24
This is just a package description and doesn't describe the complete requisites. Refer to this official razorpay docs https://razorpay.com/docs/payment-gateway/flutter-integration/ . Though I have integrated using the test key provided in these docs but still you'll have to generate the key for your project.

[2021-03-08 05:50] nb9960 commented on #56
Okay, but featuring dynamic links using firebase requires setting up firebase first which in itself is a separate issue. Or do one thing generate URL using firebase and provide me that link so that I can start working on #50

[2021-03-08 06:46] Samdid commented on #44
@himanshusharma89 can I start working on this issue?

[2021-03-08 09:53] himanshusharma89 commented on #24
@nb9960 You need to add these rules also: https://github.com/razorpay/razorpay-flutter/issues/42#issuecomment-550161626
And test the app with the release build in your app.

[2021-03-08 09:55] himanshusharma89 commented on #56
@nb9960 I'll add you to the firebase console and integration is almost done, just need to review the PR. Share me your Gmail id.

[2021-03-08 09:56] himanshusharma89 commented on #44
Yes @Samdid

[2021-03-08 10:09] Neha62-lit commented on #33
@himanshusharma89 Can I start working on this issue??

[2021-03-08 10:12] nb9960 commented on #24
These set of lines are required only if proguard is enabled and since proguard is not enabled for this application it's working absolutely fine in release mode too.

[2021-03-08 10:13] Samdid commented on #44
Sure👍

[2021-03-08 10:16] himanshusharma89 commented on #24
Ohh I suppose they updated the package as it was not working on release mode in earlier versions. Cool, I'll verify the code and merge it.

[2021-03-08 10:25] himanshusharma89 commented on #33
Sure @Neha62-lit, I am assigning it to you, but we have to wait till this PR #60  is merged. For this issue, you need to remove all the custom height and use Flexible or other widgets so that the cart looks responsive in all devices.

[2021-03-08 10:26] nb9960 commented on #56
nbodani8@gmail.com

[2021-03-08 10:30] himanshusharma89 commented on #50
@nb9960 Console invitation sent. You can start working on this issue after Razorpay PR is merged.

[2021-03-08 10:31] Neha62-lit commented on #44
@himanshusharma89 Can I work on signUp screen?

[2021-03-08 10:34] himanshusharma89 commented on #44
Sure @Neha62-lit, but one person can work on one screen at a time.

[2021-03-08 10:35] Neha62-lit commented on #33
Okay! 🙌

[2021-03-08 10:58] himanshusharma89 commented on #46
Hey @amanxnanda, are you participating in GSSOC? If so I'll assign this issue to you.

Also, this issue will be worked upon after #45 is closed.

[2021-03-08 10:58] #24 closed

[2021-03-08 11:25] Saransh-cpp commented on #47
Should I add the GIFs from the repositories mentioned above or should I just add a single line for each of the topic, linking the respective .md file?

[2021-03-08 11:31] ritvij14 commented on #38
@himanshusharma89 I would like to work on this issue. Also, do these tasks need to be completed in multiple PRs or in a single PR?

[2021-03-08 11:36] amanxnanda commented on #46
Yes I'm participating

[2021-03-08 11:48] himanshusharma89 commented on #47
@Saransh-cpp I have shared the reference you can follow it to create the contributing.

[2021-03-08 11:51] himanshusharma89 commented on #38
@ritvij14 Are you participating in GSSOC? If so, I'll assign it to you.

For this issue, you need a settings icon on the top right corner of the profile screen which will then navigate to the settings screen.
The settings screen will contain the list of the above-mentioned tasks, some of them will have a new page some of them don't. You can start with one task at a time.

[2021-03-08 11:55] ritvij14 commented on #38
@himanshusharma89 yes I am participating in GSSOC '21 as a mentee.

Ok got it. So for now to get an idea of the project I would like to go ahead with the Logout button and FAQs section. Does FAQ have a button that leads to a webpage with FAQs or are we showing them in the app itself?

[2021-03-08 12:24] himanshusharma89 commented on #38
@ritvij14 You can start with the FAQs section, you can get the free FAQs content online and use PDF Viewer to display it

[2021-03-08 12:44] Vansh-Gupta4 commented on #29
Thanks alot

On Mon, 8 Mar 2021, 10:14 am HIMANSHU SHARMA, <notifications@github.com>
wrote:

[2021-03-08 12:44] SapinderSingh commented on #43
@himanshusharma89 Hello, I want to work on this issue, as I am a participant of GSSOC 21

[2021-03-08 12:48] Vansh-Gupta4 commented on #29
i have to write "about page"...right?

On Mon, Mar 8, 2021 at 6:14 PM VANSH <gvansh.411@gmail.com> wrote:

[2021-03-08 12:53] himanshusharma89 commented on #43
Sure @SapinderSingh, I'll create a list of screens and share it with you, then you can create the routes.

[2021-03-08 12:55] himanshusharma89 commented on #29
@Vansh-Gupta4 You need to create an About Page, for reference you can check out other apps containing about page ut make sure to create it in a retro theme.

[2021-03-08 13:04] Vansh-Gupta4 commented on #29
where i can check other apps containing about page

[2021-03-08 13:07] himanshusharma89 commented on #29
@Vansh-Gupta4 You can refer to this:
![image](https://user-images.githubusercontent.com/44980497/110325350-3b3ac600-803d-11eb-9000-6da143144645.png)

[2021-03-08 13:08] SapinderSingh commented on #43
Okay, Great

[2021-03-08 13:10] Vansh-Gupta4 commented on #29
thanks @himanshusharma89 i have to make it using html and css ..right?

[2021-03-08 13:13] himanshusharma89 commented on #29
No @Vansh-Gupta4, this is a Flutter based project.

[2021-03-08 13:14] Vansh-Gupta4 commented on #29
but i dont know flutter

[2021-03-08 13:15] himanshusharma89 commented on #29
You should have checked it earlier before commenting, but no issues you can contribute to other projects who have the web tech stack.

[2021-03-08 13:16] Vansh-Gupta4 commented on #29
ohkk..thankyou  @himanshusharma89

[2021-03-08 13:52] sakshi2707 commented on #39
please assign the 'Add menu icon to the top right to navigate to Setting screen" task to me under gssoc'21

[2021-03-08 14:19] nb9960 commented on #50
@himanshusharma89  For testing this, I have to resolve #51 or #56 and for resolving #51 few points needs to discussed like should I pass each and every product field as a URL query parameter for navigating to individual product screen. And is firebase integrated for iOS as well?
If possible, can you provide the discord link for further discussion?

[2021-03-08 15:09] himanshusharma89 commented on #38
@ritvij14 The settings icon on the profile will be taken care of by someone else.

[2021-03-08 15:13] DevilAJ commented on #38
I would like to work on setting icon under Gssoc'21

[2021-03-08 15:24] ritvij14 commented on #38
@himanshusharma89 sorry but I am a bit confused 😅, like how many questions and what material/questions should be answered in them etc.
And should I go ahead with this for showing the pdf? https://pub.dev/packages/native_pdf_view

[2021-03-08 15:27] himanshusharma89 commented on #38
@DevilAj, you can comment on any other issue, these are assigned to others.

@ritvij14 You can refer to this: https://github.com/himanshusharma89/flutterx100/blob/master/lib/helpers/constants.dart
You'll get an idea of FAQs. And yes you can use this package. Make sure to make it not scrollable.

[2021-03-08 15:29] himanshusharma89 commented on #50
I just joined the discord server, you can connect with me there.

[2021-03-08 15:32] himanshusharma89 commented on #39
Sure @sakshi2707

[2021-03-08 15:39] DevilAJ commented on #25
I would like go with issue. Please assign me..

[2021-03-08 15:44] DevilAJ commented on #28
If this issue is open I would like to go with it under Gssoc'21.

[2021-03-08 15:48] DevilAJ commented on #48
I would like to work on this issue.

[2021-03-08 16:36] anotherwebguy commented on #50
Hey @himanshusharma89  i would like to work on this issue and issue #51 as a part of gssoc'21 participants, plz assign me this issue

[2021-03-08 17:21] himanshusharma89 commented on #28
@DevilAJ This is not an issue, you can discuss your suggestions here.

[2021-03-08 17:21] himanshusharma89 commented on #48
@DevilAJ 'll assign this to you as soon as the Firebase integration is merged.

[2021-03-08 17:22] himanshusharma89 commented on #50
@anotherwebguy This issue is already assigned, you can comment on any other issue.

[2021-03-08 17:28] piyushpradhan commented on #54
I am participating in GSSOC '21, and I'd like to work on this project. Can I try and work on this issue ?

[2021-03-08 17:29] himanshusharma89 commented on #54
Sure @piyushpradhan, go ahead.

[2021-03-08 17:35] DevilAJ commented on #42
Can I work on this issue.

[2021-03-08 17:35] nb9960 commented on #50
Hey, I am about to resolve this and #51 , was just waiting for the PR #58 to get merged first as this requires firebase integration. If you want you can work on #56 or you can work on iOS part after I raise PR for this

[2021-03-08 17:37] himanshusharma89 commented on #42
Sure @DevilAJ, assigning it to you. Share me your Gmail id.

[2021-03-08 17:37] DevilAJ commented on #42
iit2019085@iiita.ac.in

[2021-03-08 17:39] himanshusharma89 commented on #50
I am merging the firebase integration PR.

[2021-03-08 17:41] himanshusharma89 commented on #42
@DevilAJ Is it a valid google account?

[2021-03-08 17:43] DevilAJ commented on #42
It's my college mail id
You can also use
aniketjaiswal255@gmail.com

[2021-03-08 17:43] ThatOneTallKid commented on #41
can this issue be assigned  to me ?

[2021-03-08 18:00] himanshusharma89 commented on #41
Sure @ThatOneTallKid, but this issue will be resolved at the end because it'll be easier to create event s for all the finalised features. But you can comment on other issues. I'll assign it to you.

[2021-03-08 18:00] himanshusharma89 commented on #42
Okay @DevilAJ

[2021-03-08 18:02] #21 closed

[2021-03-08 18:05] himanshusharma89 opened #62 "Initialize the Firebase App"
Refer to this and initialize the Firebase app: https://firebase.flutter.dev/docs/overview/#installation
You just need to add the await Firebase.initializeApp(); before the runApp method in main.

[2021-03-08 18:15] himanshusharma89 opened #63 "Create the Product Model"
Refer to the `constants.dart` and check the product list, you'll get the fields for the model.
Create a folder inside lib named `model` and create file `product.dart` which will contain the model.

[2021-03-08 18:18] himanshusharma89 opened #64 "Migrate the app to Null Safety"
Migrate the project to null safety: https://dart.dev/null-safety/migration-guide

[2021-03-08 18:31] himanshusharma89 opened #65 "Testing the issue labeler"

[2021-03-08 18:32] #65 closed

[2021-03-08 18:43] #26 closed

[2021-03-08 18:46] himanshusharma89 commented on #33
@Neha62-lit you can start working on this issue. The PR id merged. And make sure to do git pull before working.

[2021-03-08 18:47] himanshusharma89 commented on #45
@sssash18 You can start working on this issue.

[2021-03-08 18:52] Neha62-lit commented on #33
Sure!

[2021-03-08 18:56] diksh735 commented on #57
I would like to work on the issue .

[2021-03-08 19:15] Alifbhanvadiya14 commented on #62
@himanshusharma89 I want to work on this issue

[2021-03-08 19:18] himanshusharma89 commented on #62
@Alifbhanvadiya14 are you participating in GSSOC? If so I’ll assign this to you

[2021-03-08 19:19] Alifbhanvadiya14 commented on #62
Yes I m participating

[2021-03-08 19:20] himanshusharma89 commented on #62
Okay, @Alifbhanvadiya14

[2021-03-08 19:20] Alifbhanvadiya14 commented on #63
@himanshusharma89 can you assign this to me?

[2021-03-08 19:21] himanshusharma89 commented on #63
@Alifbhanvadiya14 one person can work on one issue at a time

[2021-03-08 19:22] piyushpradhan commented on #29
If @Vansh-Gupta4 isn't going to work on this issue, can I be assigned this issue ?

[2021-03-08 19:23] piyushpradhan commented on #54
Okay, thank you @himanshusharma89

[2021-03-08 19:24] himanshusharma89 commented on #29
@piyushpradhan one person can work on one issue at a-time, so that everyone can contribute to the project.

[2021-03-08 19:37] aayushbisen commented on #63
I can work on this.

[2021-03-08 19:40] aayushbisen commented on #23
I can work on this.

[2021-03-08 19:42] Saransh-cpp commented on #25
Are you thinking of implementing the search feature with Flutter's SearchDelegate or by using a plugin?

[2021-03-08 19:44] piyushpradhan commented on #29
Ohh okay, got it!

[2021-03-08 19:45] Saransh-cpp commented on #46
@amanxnanda I implemented the banner ads in one of my projects, you can check out the file [here](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/Screens/YourOrders.dart), I hope this helps.

[2021-03-08 20:06] puru-ganda commented on #27
@himanshusharma89  I can implement Email Auth, could you please assign this to me

[2021-03-09 03:51] sssash18 commented on #45
Okay @himanshusharma89  I would start working with it

[2021-03-09 04:26] himanshusharma89 commented on #23
@aayushbisen Are you participating in GSSOC? If so, I'll assign this issue to you.

[2021-03-09 04:27] himanshusharma89 commented on #63
@aayushbisen One person can only work on one issue at a time.

[2021-03-09 04:29] himanshusharma89 commented on #27
Hey @puru-ganda, are you participating under GSSOC?

[2021-03-09 05:00] pawan2806 commented on #63
@himanshusharma89 can you assign it to me?

[2021-03-09 05:02] himanshusharma89 commented on #63
@pawan2806 Are you participating in GSSOC?

[2021-03-09 05:04] pawan2806 commented on #63
yes @himanshusharma89

[2021-03-09 05:11] Saransh-cpp commented on #57
Oh yes, I missed that issue. No problem, I will close the PR and the issue.

[2021-03-09 05:11] #57 closed

[2021-03-09 05:15] aayushbisen commented on #23
Yes I am participating.

[2021-03-09 05:27] pratikbaid3 commented on #64
@himanshusharma89 I'd like to work on this.

[2021-03-09 05:54] anotherwebguy opened #68 "RenderFlex overflow in the productscard in the home.dart"
![image](https://user-images.githubusercontent.com/66346161/110424755-4fc4a000-80c9-11eb-9dda-afa9990244b9.png)

## Hey @himanshusharma89  I would like to work on this issue as a part of gssoc'21

[2021-03-09 05:55] aayushbisen commented on #23
Added the linter, should I fix the warnings also? About 271 are there as of now.

[2021-03-09 06:01] himanshusharma89 commented on #23
@aayushbisen can you add the rules image here? And yes you need to resolve those issues and warnings, that’s why it is an advance issue.

[2021-03-09 06:03] puru-ganda commented on #27
@himanshusharma89 yes I am participating in GSSOC

[2021-03-09 06:04] aayushbisen commented on #23
![image](https://user-images.githubusercontent.com/41341387/110425940-3886b200-80cb-11eb-923b-189eb25179d8.png)

I didn't add any custon rules yet, just default config that comes with lint package.

[2021-03-09 06:10] nakshatrasinghh opened #69 "Pod install error on M1 using iPhone 12 Pro max simulator"
Any quick fixes to kick off the application on this simulator?

<img width="1440" alt="Screenshot 2021-03-09 at 11 39 04 AM" src="https://user-images.githubusercontent.com/53419293/110426413-104b8300-80cc-11eb-826e-c82569f28e15.png">

[2021-03-09 06:13] himanshusharma89 commented on #23
You need to add some rules also, I’ll share them with you, in the mean time, you can resolve all these warning

[2021-03-09 06:14] aayushbisen commented on #23
Okay

[2021-03-09 06:24] pratikbaid3 commented on #29
@himanshusharma89 if no one is working on this, I'd like to work on it.

[2021-03-09 07:13] himanshusharma89 commented on #68
SUre @anotherwebguy, go ahead and make the home screen responsive for all different devices.

[2021-03-09 07:15] himanshusharma89 commented on #27
Okay @puru-ganda, you need to wait till the Login Screen is implemented. I am assigning this to you and I'll update you as soon as the login screen is created.

[2021-03-09 07:17] himanshusharma89 commented on #69
Hey @nakshatrasinghh, I don't own a macOS device, but can you share the error message? and if you want to resolve this issue, I can assign it to you(If you are participating in GSSOC).

[2021-03-09 07:18] himanshusharma89 commented on #23
@aayushbisen Add these linter rules:
[code]

[2021-03-09 07:19] himanshusharma89 commented on #29
Hey @pratikbaid3, are you participating in GSSOC?

[2021-03-09 07:20] #62 closed

[2021-03-09 07:23] pratikbaid3 commented on #69
@himanshusharma89
[code]

[2021-03-09 07:24] pratikbaid3 commented on #29
Yes I am @himanshusharma89

[2021-03-09 07:26] anotherwebguy commented on #68
Also there are some renderflex overflow on some other screens too i would like to work on them too
<br />
![Screenshot_2021-03-09-12-54-34-937_com example retro_shopping](https://user-images.githubusercontent.com/66346161/110433666-c61bcf00-80d6-11eb-828f-e181b7a3cbf8.jpg)
![Screenshot_2021-03-09-11-16-01-582_com example retro_shopping](https://user-images.githubusercontent.com/66346161/110433674-

[2021-03-09 07:28] nakshatrasinghh commented on #69
I'll like to work on this issue, it has something to do with razor pay and cocoapods. Will solve this issue soon. Yes I'm a participant in GSSoC' 21

[2021-03-09 07:30] himanshusharma89 commented on #69
I found this: https://github.com/dynamitechetan/razorpay_flutter/issues/16 which will eventually lead you to this: https://github.com/dynamitechetan/razorpay_flutter/issues/19#issuecomment-495486681

[2021-03-09 07:31] himanshusharma89 commented on #69
Also, I think @nakshatrasinghh, should work on this as he created this issue. But @pratikbaid3 if you are participating in GSSOC you can create an issue of Firebase Integration and help out with Apple Auth?

[2021-03-09 07:35] himanshusharma89 commented on #68
I have already created issues for these screens, and you can work on them after fixing the home screen. One person can work on one issue at a time.

[2021-03-09 07:37] anotherwebguy commented on #68
Okay sir

[2021-03-09 08:09] himanshusharma89 commented on #49
Sure @VaishnaviSood, but you need to wait for #48 to be resolved. I am assigning it to you, I'll update the status asap.

[2021-03-09 08:12] DevilAJ commented on #48
Now I already have an issue assigned.
For now you can leave it open.
I will ask to assign as soon as I completed that issue.

[2021-03-09 08:16] RGTechno commented on #37
@himanshusharma89 I would like to work on this issue. Could you please assign this issue to me?

[2021-03-09 08:16] himanshusharma89 commented on #42
@DevilAJ Invitation sent

[2021-03-09 08:45] VaishnaviSood commented on #64
Thanks...I was working on this issue..and saw that some of the dependencies don't support null safety..any help with that?

[2021-03-09 08:48] himanshusharma89 commented on #37
Sure @RGTechno, assigning it to you.

[2021-03-09 08:50] himanshusharma89 commented on #25
We can discuss this @Saransh-cpp. In the end, we will search the Product object. So we can use SearchDelegate for that.

[2021-03-09 08:51] himanshusharma89 commented on #64
@VaishnaviSood You can update those packages to their null safety version, you can check it in the pub.dev

[2021-03-09 09:04] Saransh-cpp commented on #25
Great! You can assign it to the person who commented first, I have some prior experience in using SearchDelegate so I'll be here to help.

[2021-03-09 09:06] abhishek7997 commented on #37
I would like to work on this issue. I am a participant of GSSOC 21. I have some experience in flutter development. So, please assign this issue to me.

[2021-03-09 09:06] himanshusharma89 commented on #64
Do one thing, proceed with it and create 2 separate issues regarding these plugins:
For AdobeXD: https://github.com/AdobeXD/xd-to-flutter-plugin/issues/103
For Razorpay: https://github.com/razorpay/razorpay-flutter/issues/133

But you might face few issues regarding nullable types, so let me know if you face any.
Also, I just merged a big update in the code base, so make sure to pull it before mig

[2021-03-09 09:08] himanshusharma89 commented on #68
@abhishek7997 This issue is already assigned, you can comment on any other issue which is not assigned.

[2021-03-09 09:11] abhishek7997 commented on #68
Then please check my other request. Namely, Hide Keyboard, #37

On Tue, 9 Mar, 2021, 14:38 HIMANSHU SHARMA, <notifications@github.com>
wrote:

[2021-03-09 09:11] VaishnaviSood commented on #64
Ohkay!..Thanks :)

[2021-03-09 09:13] himanshusharma89 commented on #25
Sure @Saransh-cpp, but first we need to get the products from an API, if you have any Open API to use, for now, do let me know.

[2021-03-09 09:16] himanshusharma89 commented on #25
@diksh735 I'll assign this issue to you, as soon as we can setup FutureBuilders

[2021-03-09 09:19] Alifbhanvadiya14 commented on #27
@himanshusharma89 I can implement Google Auth. Can you assign it to me

[2021-03-09 09:31] Manzee1609 commented on #27
I had commented earlier, I would like to work on google auth!

[2021-03-09 09:35] himanshusharma89 commented on #27
Sure @Manzee1609 you can work on the Google Auth, @Alifbhanvadiya14 you can select any other issue or if you want to you can create an issue or you can share your suggestion in the Discussion

[2021-03-09 09:38] himanshusharma89 opened #72 "Create Issue Template"

[2021-03-09 09:40] Alifbhanvadiya14 commented on #39
@himanshusharma89  I would like to work on "Update the current profile screen and show the user details and buttons to navigate to the "Your Orders" and "Wishlist" screen."

[2021-03-09 09:41] himanshusharma89 commented on #39
Sure @Alifbhanvadiya14

[2021-03-09 09:41] ThatOneTallKid commented on #41
Ok sure! It makes sense.

[2021-03-09 09:46] ThatOneTallKid commented on #35
Hey , please assigned this issue to me

[2021-03-09 09:47] rudranshawasthi commented on #35
I would like to work on this

[2021-03-09 09:48] himanshusharma89 commented on #35
@ThatOneTallKid @rudranshawasthi both of you commented around the same time, but I'll assign this issue to @ThatOneTallKid as he commented here first. Also, @rudranshawasthi you can check other issues or you can create issues if you find something in the app.

[2021-03-09 09:49] rudranshawasthi commented on #32
I think I can fix this

[2021-03-09 09:50] himanshusharma89 commented on #35
@ThatOneTallKid Keep in mind to create a retro theme based wishlist, you can check the current wishlist in Profile and replicate it in the new screen. Later when the buttons are added, you can Navigate to Wishlist from the profile.

[2021-03-09 09:50] himanshusharma89 commented on #32
@rudranshawasthi Are you participating in GSSOC?

[2021-03-09 09:52] ThatOneTallKid commented on #35
Sure !

[2021-03-09 09:54] RGTechno commented on #37
@himanshusharma89 yes i am a participant in gssoc 21

[2021-03-09 09:55] aayushbisen commented on #28
Suggestion: Cart and Wishlist can be removed from Drawer, since it can be easily accessed by BottonNavigationBar.

[2021-03-09 09:59] rupanshi-chawda commented on #36
Hey @himanshusharma89, I would like to work on this issue. Please assign it to me.

[2021-03-09 10:00] himanshusharma89 commented on #28
@aayushbisen Noted

[2021-03-09 10:04] aayushbisen opened #74 "Remove leading search icon in Home Screen search bar"
![image](https://user-images.githubusercontent.com/41341387/110453907-b3ac9000-80ec-11eb-8bd3-acdc85207ff3.png)

Leading search icon can be removed from Home Screen search bar, since there is already a trailing search button present.

[2021-03-09 10:08] Praneeth-rdy commented on #74
Can you please assign this to me? I want to work on this.

[2021-03-09 10:10] aayushbisen commented on #72
Can I work on this?

[2021-03-09 10:11] Praneeth-rdy commented on #72
Can you assign this to me? I have previously worked in many other open-source programs and have knowledge about how the templates of Issues exist.

[2021-03-09 10:18] rudranshawasthi commented on #32
yes

[2021-03-09 10:26] RGTechno commented on #74
@himanshusharma89 I would like to contribute. Please assign this issue to me. I am GSSOC'21 participant

[2021-03-09 10:37] AbhipsaGuru1012 commented on #74
@himanshusharma89 can I work on this issue?

[2021-03-09 10:56] Mohitmadhav commented on #74
@himanshusharma89 can I work on this Issue? I'm also a GSSoC participant

[2021-03-09 11:08] srisatya1197 commented on #74
I want to contribute to Remove leading search icon in Home Screen search bar issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:10] srisatya1197 commented on #72
I want to contribute to Create Issue template . Please assign me this task as a part of GSSoC'21

[2021-03-09 11:12] srisatya1197 commented on #32
I want to contribute to Remove Scroll glow in horizontal pageview issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:13] ishanailwal commented on #74
@himanshusharma89 can I work on this?

[2021-03-09 11:13] ishanailwal commented on #74
Can I work on this?

[2021-03-09 12:28] sssash18 commented on #45
@himanshusharma89  Can I use this pub [Package](https://pub.dev/packages/google_mobile_ads) for integration.
Also I need to use the development api keys right ?

[2021-03-09 12:42] VaishnaviSood commented on #64
#77
Hey...I created a pull request..i had to heavily edit the code...do review it..and if there is any issue or any changes to  be made...please inform me :)

[2021-03-09 12:46] himanshusharma89 commented on #36
Hey @rupanshi-chawda, are you participating in GSSOC?

[2021-03-09 12:48] himanshusharma89 commented on #25
We are thinking of using API to get the products list, we can use any type of example API for now. Later we'll discuss the backend.

[2021-03-09 13:00] himanshusharma89 commented on #72
@aayushbisen assigning it to you and @Praneeth-rdy, you can create an issue for the PR template.
And @srisatya1197 I'll create new issues by tonight so you can work on it.

[2021-03-09 13:01] rupanshi-chawda commented on #36
Yes, I'm a participant of GSSoC'21

[2021-03-09 13:03] #47 closed

[2021-03-09 13:12] himanshusharma89 commented on #74
One person can work on one issue at a time, so I am thinking of assigning this to someone who has not yet worked on any issue yet and he/she commented on this issue earlier.

[2021-03-09 13:15] himanshusharma89 commented on #45
@sssash18 Yes this is the package and this is the implementation: https://developers.google.com/admob/flutter/quick-start. I'll read it and update you asap. If the test keys are available you can try it.

[2021-03-09 13:16] himanshusharma89 commented on #64
Sure @VaishnaviSood, checking it

[2021-03-09 13:17] himanshusharma89 commented on #36
Assigned.

[2021-03-09 13:27] Sloth-Panda opened #78 "Pull request template"
would like to add  it . please assign it to me @himanshusharma89

[2021-03-09 13:30] Sloth-Panda opened #79 "Greeting bot"
this bot basically welcomes and greets someone who open their first issue or make their first pr in a repo.

you can download the bot from here
https://github.com/apps/welcome

and another extra file needs to be added to set the custom messages

[2021-03-09 13:30] Sloth-Panda commented on #79
@himanshusharma89 can I work on this?

[2021-03-09 13:34] Sloth-Panda commented on #79
yes @himanshusharma89

[2021-03-09 13:34] himanshusharma89 commented on #78
@Sloth-Panda One person can work on one issue at a time and one person is already working, on this. If he/she doesn't respond back soon, I'll assign this to you, after your earlier PR is merged.

[2021-03-09 13:35] Sloth-Panda commented on #78
@himanshusharma89 I think I did not see this so raised the issue else I would not have

[2021-03-09 13:38] himanshusharma89 commented on #78
Yeah, @Sloth-Panda, I told the person to create an issue, but you did it earlier. No issues, if I receive no response you'll be assigned to it.

[2021-03-09 13:57] aayushbisen commented on #28
Suggestion for some beginner issues:
- Add colored toasts on PaymentSuccessful(green) and PaymentFailure(red).
- Change app name in manifest file.
- Create app icon.
- Optimize for landscape mode or disable landscape mode.

Thoughts?

[2021-03-09 14:04] himanshusharma89 commented on #28
I am thinking of renaming the package and applicationId of the app, what're your thoughts? @aayushbisen @ishandeveloper

[2021-03-09 14:15] Praneeth-rdy commented on #78
Thank you @himanshusharma89.
I can now start working on this issue. Please assign this to me.

[2021-03-09 14:16] himanshusharma89 commented on #28
https://medium.com/@skyblazar.cc/how-to-change-the-package-name-of-your-flutter-app-4529e6e6e6fc, so do we need to add new app in Firebase console? I am checking this.

[2021-03-09 14:20] #79 closed

[2021-03-09 14:21] aayushbisen commented on #28
Actually I have done this before I just added new android app with the new package name, and used the updated `json` file.

[2021-03-09 14:22] himanshusharma89 opened #83 "PR Labeller"
Create a GitHub Action workflow to label the PR with `GSSOC21` tag

[2021-03-09 14:23] himanshusharma89 commented on #28
Okay, because we already have a Firebase Integrated, it might be hectic but better now than later. Create an issue for that, I'll assign it to you.

[2021-03-09 14:36] himanshusharma89 commented on #28
@aayushbisen I am creating the issues and adding all the participants working on the console.

[2021-03-09 14:38] himanshusharma89 opened #84 "Change the Package Name"
@ishandeveloper @anushbhatia @smaranjitghose @Rishabh510
I am thinking of renaming the package/applicationId of the app, any views?

[2021-03-09 14:58] aayushbisen commented on #83
Can I work on this?

[2021-03-09 15:16] nb9960 commented on #84
Adding another app under same project in firebase console should work, but the changes in codebase should be done by the same person who adds the app in firebase console.

[2021-03-09 15:26] Rishabh510 commented on #84
+1 But I think we can add people as collaborator in Firebase console. But it can be too risky. Therefore, in my opinion it is better that the admin make the necessary changes!

[2021-03-09 15:28] himanshusharma89 commented on #84
We can add editors in the console, nothing to worry about. I am thinking of assigning this issue to someone and also thinking of the new package name.

[2021-03-09 15:37] nb9960 commented on #84
Make sure to encode firebase web API key (I would suggest you to generate a new one before releasing in production mode) as you guys are going to use firebase auth and users data would be stored there, so anyone with that key could easily gain access to users data

[2021-03-09 15:45] Rishabh510 commented on #84
According to the gradle [file](https://github.com/himanshusharma89/relic_bazaar/blob/master/android/app/build.gradle), we haven't yet implemented the release configuration and will be working on debug configuration only until release so there's no problem with that.

[2021-03-09 15:47] abhishek7997 commented on #68
Sorry for the inconvenience, the new pr that I meant to get merged is this
one : Implemented a better way to hide the keyboard properly #82

https://github.com/himanshusharma89/relic_bazaar/pull/82

Regards,
M.Abhishek

On Tue, 9 Mar 2021 at 20:53, HIMANSHU SHARMA <notifications@github.com>
wrote:

[2021-03-09 17:05] himanshusharma89 commented on #84
@nb9960 The release build will take a lot of time. So I think we can update the package name.

[2021-03-09 17:07] #78 closed

[2021-03-09 17:17] nb9960 commented on #84
Enclosing key is independent of updating name that's why I stated earlier to change it **before release (and not now)** as a step to ensure privacy. For now, package name can be updated.

[2021-03-09 17:43] himanshusharma89 commented on #84
Okay! So @aayushbisen, would you like to work on this as you proposed this suggestion?

[2021-03-09 17:53] #74 closed

[2021-03-09 17:54] #37 closed

[2021-03-09 19:49] SamarpanCoder2002 opened #89 "Facebook Authentication through Firebase"
I would like to add Facebook Authentication With that project

## Context
Facebook Authentication Though Firebase

## Detailed Description
I am also a gssoc'21 participant... I would like to add Facebook authentication to it... If I can forward with that, Please assign me to here...Thank you

[2021-03-09 22:25] pawan2806 commented on #48
As the issue is still open , can you assign it to me @himanshusharma89 under Gssoc'21?

[2021-03-10 04:10] himanshusharma89 commented on #89
@SamarpanCoder2002 We are thinking of adding Facebook Auth for now, but we'll open this PR for future discussion. Thanks for the issue.

[2021-03-10 04:13] himanshusharma89 commented on #48
Sure, we will rename the package and update the app on firebase. After this you can start working on it.

[2021-03-10 05:38] anotherwebguy opened #91 "Renderflex overflow issue in profile page"
![Screenshot_2021-03-10-11-05-28-966_com example retro_shopping](https://user-images.githubusercontent.com/66346161/110581577-d2646280-8190-11eb-94c9-6aceff0ac74a.jpg)

## I would like to work on fixing this issue under gssoc'21, plz assign me this issue @himanshusharma89

[2021-03-10 06:07] SapinderSingh commented on #43
@himanshusharma89  Hello Sir, Please provide me the list of screens

[2021-03-10 06:12] himanshusharma89 commented on #91
@anotherwebguy This issue already comes under #39

[2021-03-10 06:12] #63 closed

[2021-03-10 06:15] anotherwebguy commented on #39
I would like to work on resolving the overflow issue for small screen size can i work on this @himanshusharma89 ?

[2021-03-10 06:15] #91 closed

[2021-03-10 06:21] himanshusharma89 commented on #39
Yes @anotherwebguy

[2021-03-10 08:35] SamarpanCoder2002 commented on #89
Yah sure... I will wait for the discussion is about to start

[2021-03-10 08:52] Mohitmadhav commented on #89
Can I work on this issue @SamarpanCoder2002 and @himanshusharma89 ?

[2021-03-10 09:23] himanshusharma89 commented on #89
This feature is still not finalised, we'll discuss this whenever the project channel is publically available on GSSOC Discord Server

[2021-03-10 09:38] SamarpanCoder2002 commented on #89
Ok I am waiting for that......

[2021-03-10 09:53] ritvij14 commented on #38
@himanshusharma89 sorry about the late updates, I started working on this and was wondering if you have a mockup of the settings and faq screens prepared? I just wanted to have a look to get an understanding of how they would work.

[2021-03-10 10:54] ThatOneTallKid commented on #35
Hey @himanshusharma89  , I encountered some design flaws like renderflex overflow so should I fix it ? Or you have any other plans for it ?

[2021-03-10 12:07] anirudhsai20 opened #93 "README.md file enhancement"
The README.md file can be further enhanced by adding a list of all the open source programs in which this project is a part of. Also there are minor grammatical errors that needs correction.

[2021-03-10 12:08] anirudhsai20 commented on #93
Hi @himanshusharma89 . Please assign me this issue under GSSOC.

[2021-03-10 12:35] himanshusharma89 commented on #35
@ThatOneTallKid It must be resolved by now, pull the latest code.

[2021-03-10 12:39] himanshusharma89 commented on #38
You can check the Profile Screen and create a similar title for the FAQs and use the expansionTile to display the FAQs, similar to this: https://100daysofflutter.azurewebsites.net/#/
Code: https://github.com/himanshusharma89/flutterx100/blob/master/lib/screens/faqs.dart

[2021-03-10 12:45] himanshusharma89 commented on #43
Currently, these are the screens:

- Dashboard: `/`
- Home: `/home`
- Login: `/auth`
- Profile: `/profile`
- Search: `/search`
- Products: `/products`
- Wish List: `/wishlist`
- Cart: `/cart`
- Orders: `/orders`
- Settings: `/settings`
- About: `/about`

Follow this to create routes constants: https://github.com/himanshusharma89/Flutter-Blog-App/blob/master/lib/helpers/constants.dart and generateR

[2021-03-10 14:21] ritvij14 commented on #38
@himanshusharma89 I created a mockup of the FAQs screen, but I have a doubt, in the link you sent me of 100daysofflutter, there the FAQ are shown as widgets themselves and not shown in a pdf, That's why I made this ->
![WhatsApp Image 2021-03-10 at 7 48 31 PM](https://user-images.githubusercontent.com/51456744/110643279-ef715380-81d9-11eb-8b1d-471cfb9204c8.jpeg)

Does this look ok? Or do you want

[2021-03-10 14:27] himanshusharma89 commented on #38
@ritvij14 Oh sorry, don't mind the expansionTile we will use PDF Viewer. Also, the settings screen will consist of a list of tiles which will then open a new screen. So FAQ is one of the list tiles, which will open a new screen consisting of the PDF View.

For PDF View you need a doc, you can just copy-paste the FAQs for now and then import in assets and use it with the package.

[2021-03-10 15:29] SapinderSingh commented on #43
The whole app is using bottom navigation bar for navigation to screens. That's why Named routes aren't possible for now, because they need the whole screen. What should I do ?

[2021-03-10 15:34] SapinderSingh commented on #43
@himanshusharma89 The Home, Search, Cart And Profile Screens can only be accessed from bottom navigation bar and there is no medium to access the other screens except the Product Specific Page.

[2021-03-10 16:38] AmarjitM13 commented on #49
can you plz assign this issue to me

[2021-03-10 17:11] anotherwebguy commented on #56
Hey @himanshusharma89 i can work on this issue if issue #50 is merged, also can u fill me with details like here we sharing the links to the products right?
So i need to pass the products info in the link ?
Also i need to work on that link generation plus sharing part?
Also after opening app from link it should take you to the product detail page right?
Plz assign me this issue i would like to wor

[2021-03-10 17:19] anotherwebguy commented on #56
Hey @himanshusharma89 here do we only have to share the dynamic links that are generated in issue #50 ?

[2021-03-10 17:23] nb9960 commented on #56
Hey @anotherwebguy PR for dynamic link integration is not merged yet.
For resolving this issue you just have to create a share button and pass URL as relicbazaar.page.link/ (without any parameter as this isn't about sharing product, I have already done that part). Other than that as I have already integrated dynamic link you don't have to make any changes through the firebase console or in the cod

[2021-03-10 17:24] anotherwebguy commented on #44
Hello @himanshusharma89 can i work on the signup screen as a part of gssoc'21? Plz assign this issue to me

[2021-03-10 17:29] anotherwebguy commented on #38
Hey @himanshusharma89  can i work on your orders screen? Plz assign this issue to me ,
Here i just to have to make the mockup for your orders screen right like the one in the profile screen? Bcoz we don't have real data from firebase at present

[2021-03-10 17:32] anotherwebguy commented on #56
Yeah @nb9960 i saw your pr i got my doubt cleared so i can work on this part right @himanshusharma89 ?

[2021-03-10 17:50] ThatOneTallKid commented on #35
@himanshusharma89  got it!

[2021-03-10 17:55] himanshusharma89 commented on #43
@SapinderSingh, we still need them for analytics, just create them for now.

[2021-03-10 17:58] himanshusharma89 commented on #49
@AmarjitM13 This issue is on hold for now, we are updating the package name. In the meantime, you can create new issues if you face any.

[2021-03-10 18:02] himanshusharma89 commented on #44
One person can work on one issue at a time, so you can talk to the other people assigned for the Profile Screen issue.

[2021-03-10 18:06] himanshusharma89 commented on #56
@anotherwebguy As I mentioned earlier one person can work on a single issue at a time.

[2021-03-10 23:40] anotherwebguy commented on #56
Hey @himanshusharma89 but at the moment i am not assigned any issue plz assign me this issue

[2021-03-11 04:44] himanshusharma89 commented on #56
@anotherwebguy The issue is still not resolved but I'll assign new issues to you. By responsive it means we don't have to add a custom height for the widget instead use the Flex.

[2021-03-11 05:07] anotherwebguy commented on #56
Okay sir i'll do that

[2021-03-11 06:08] anotherwebguy commented on #56
So now can u assign me this issue as i've now made an pr for issue #39

[2021-03-11 06:12] saurabhraj042 opened #96 "Widget overflow in Cart Screen during landscape mode"
# The PaymentWindow widget overflows in the Cart screen during landscape mode

## Possible Solution
Wrapping the PaymentWindow widget inside a SingleChildeScrollView and OrientationBuilder.Also change in width and height of some components inside it to optimise it for the landscape mode.

## Steps to Reproduce

1.Open the Cart Screen in landscape mode

[2021-03-11 06:13] saurabhraj042 commented on #96
@himanshusharma89  please assign this issue to me

[2021-03-11 08:14] STARLORD3 commented on #96
@himanshusharma89 I can work on this?

[2021-03-11 08:34] ThatOneTallKid commented on #35
how do we navigate to the wishlist ??
through the drawer or through the profile section?
@himanshusharma89

[2021-03-11 08:39] D-Ajay-Kumar commented on #29
If the issue is still open I can work on it.

[2021-03-11 08:50] pratikbaid3 commented on #29
@D-Ajay-Kumar I am currently working on this and will create a PR soon

[2021-03-11 08:53] iamsamuelhere commented on #96
@himanshusharma89  can i work on this iam an participant of gssoc

[2021-03-11 08:54] D-Ajay-Kumar commented on #29
All the best man

[2021-03-11 09:04] saurabhraj042 commented on #96
@STARLORD3 @iamsamuelhere  actually I have already fixed this issue ! I will make a PR very soon

[2021-03-11 09:14] D-Ajay-Kumar opened #98 "Adding provider package and managing state correctly and cleaning up data sharing between widgets"
# Feature Request ✨

Introducing provider package and managing state correctly and passing data following good practices.

## Use Case

When real data would be added, the provider package and the products provider class would help managing the state easily.

## Possible Solution

Adding the provider package for state management.
Cleaning the code by passing objects between widgets and not attribut

[2021-03-11 10:45] Samdid commented on #44
@himanshusharma89 Can I start working on this UI? Is it good for this issue? As I made this UI on figma, the required font family is not available there so I made that default for now but while coding I will make the changes
![2021-03-11 (3)](https://user-images.githubusercontent.com/70087884/110775169-a0342d00-8284-11eb-8905-eb3fa28e9786.png)

[2021-03-11 10:49] AnshMishra2001 commented on #98
Can I work on this issue?

[2021-03-11 10:54] D-Ajay-Kumar commented on #98
Umm... I created the issue so I guess I should be assigned to it if it gets accepted. Maybe you can find some other issue to work on?

[2021-03-11 15:24] himanshusharma89 commented on #35
We'll go through the profile section for now.

[2021-03-11 15:31] himanshusharma89 commented on #44
Yeah, this looks good to me! Go ahead, create a PR whenever you can.

[2021-03-11 15:32] himanshusharma89 commented on #98
Sure @D-Ajay-Kumar, this issue will be assigned to you, but before that, we need to cover up the UI and API part. I'll create an issue for API soon.

[2021-03-11 15:40] himanshusharma89 commented on #56
This issue will be taken care of later on as it is dependant upon the Dynamic Links. And we need to create the UI first.

[2021-03-11 15:45] saurabhraj042 commented on #96
My bad , I will make sure to check first before creating an issue !

[2021-03-11 15:48] Samdid commented on #44
Okay

[2021-03-11 15:55] himanshusharma89 opened #99 "Drawer Screen Update"
Update the Drawer Screen for the following:

- [ ] Extract the DrawerWidget from home.dart to a new file called drawer.dart in the views directory.
- [ ] Extract the `_createDrawerItem()` method from home.dart to a new file called drawer_item.dart in widgets directory.
- [ ] Decrease the space and item size in Drawer.

# Discussion 🗣
The Drawer is a unique view in itself, so it should be in the vi

[2021-03-11 15:57] #96 closed

[2021-03-11 15:59] D-Ajay-Kumar commented on #99
Can I do this?

[2021-03-11 16:05] himanshusharma89 commented on #99
Sure

[2021-03-11 16:06] D-Ajay-Kumar commented on #99
Thanks. I am starting working on it.

[2021-03-11 16:08] himanshusharma89 commented on #32
Any update @rudranshawasthi?

[2021-03-11 16:13] himanshusharma89 opened #100 "Home Screen Update"
Update the Home screen for the following:

- [ ] Add never scroll physics in GridView
- [ ] Divide the view into different widgets methods which are being called in the Column inside build method.

# Discussion 🗣
Improve the home screen code by dividing the widgets into different Widget methods. And do resolve the problems in the terminal if it arises.

## Context
For better readability of the cod

[2021-03-11 16:18] himanshusharma89 opened #101 "Update the Product List"
Update the Product List in constants.dart to use the Product model instead of passing multiple fields.

# Discussion 🗣
Instead of passing multiple fields pass the Product model object (data being saved in the constructor.)

## Context
Utilize the existing Product model, which will help us in future while handling the API calls.

[2021-03-11 16:24] himanshusharma89 commented on #93
Any update @anirudhsai20?

[2021-03-11 16:41] Chirag018 commented on #100
Can I work on this update ?

[2021-03-11 16:43] ThatOneTallKid commented on #35
OK!

[2021-03-11 16:50] himanshusharma89 commented on #100
Are you participating in GSSOC?

[2021-03-11 16:55] Chirag018 commented on #100
Yes

[2021-03-11 16:55] believeInJha commented on #101
I would like to work on this as a part of GSSoC'21, could you please assign it to me and guide me with the process?

[2021-03-11 16:56] believeInJha commented on #84
I would like to work on this as a part of GSSoC, could you please assign it to me and guide me with the process?

[2021-03-11 16:57] himanshusharma89 commented on #100
Assigned

[2021-03-11 16:58] himanshusharma89 commented on #101
Sure, you are assigned.

[2021-03-11 16:59] himanshusharma89 commented on #84
One person can work on one issue at a time.

[2021-03-11 17:05] believeInJha commented on #84
Okay got it @himanshusharma89, I thought I can work on multiple issues, sorry for any inconvenience.

[2021-03-11 17:07] himanshusharma89 commented on #84
No issues.

[2021-03-11 17:07] believeInJha commented on #101
Thanks for the opportunity @himanshusharma89, I will make it as soon as possible and send a PR.

[2021-03-11 17:17] Chirag018 commented on #55
Can I work on this ?

[2021-03-11 17:43] D-Ajay-Kumar commented on #99
Done. Please check the code.

[2021-03-11 18:18] D-Ajay-Kumar opened #103 "Adding SafeArea widget on home.dart to avoid cutting off of screen"
Currently there is no SafeArea widget because of which there is a possibility of drawer button getting cut by the top bar that show battery percentage on phones with smaller screen size.

[2021-03-11 18:19] D-Ajay-Kumar commented on #103
If the issue is accepted then I can do it.

[2021-03-11 18:32] aayushbisen commented on #84
Okay I can work on this.

[2021-03-11 18:35] smaranjitghose commented on #55
Try to use the material theme with dark mode and keep the documentation related code in a separate branch

[2021-03-11 19:52] #99 closed

[2021-03-11 19:55] himanshusharma89 commented on #84
I'll update you with the package name tomorrow.

[2021-03-11 20:45] rudranshawasthi commented on #32
my system crashed

[2021-03-12 03:15] piyushpradhan commented on #54
@himanshusharma89 please review my PR and kindly tell me what else I need to add in there, or is there any improvements that I need to make.

[2021-03-12 07:17] RGTechno commented on #28
@himanshusharma89 pulling the last PR, code is not building due bugs in code of setiings.dart and profile.dart file. I am fixing these bugs. So should I create new issue and start working on it as a part of GSSOC'21. Could you assign me that?
Thanks.

[2021-03-12 07:22] D-Ajay-Kumar commented on #32
Anyone still on it or can I take it?

[2021-03-12 07:23] RGTechno opened #105 "Bug Fix in Code."
# Bug Report 🐛

## Expected Behavior

Code should build properly.

## Current Behavior

 App is not building due to errors in code.

## Possible Solution

 Settings.dart file and Profile.dart have bugs in it. Resolving it will build it.

Please assign this issue to me. @himanshusharma89

[2021-03-12 07:26] D-Ajay-Kumar commented on #105
What kind of bugs does it have?

[2021-03-12 07:27] RGTechno commented on #105
Code is not building.

[2021-03-12 07:32] himanshusharma89 commented on #105
Can you attach a screenshot of the error.

[2021-03-12 07:33] himanshusharma89 commented on #32
So would you be able to resolve this issue?

[2021-03-12 07:34] RGTechno commented on #105
![image](https://user-images.githubusercontent.com/65856344/110907495-7f76e080-8333-11eb-8791-c1842b4b850b.png)
This is the error,

[2021-03-12 07:38] RGTechno commented on #105
![image](https://user-images.githubusercontent.com/65856344/110907857-05932700-8334-11eb-9f48-480c30e2febf.png)
@himanshusharma89

[2021-03-12 07:41] D-Ajay-Kumar commented on #105
There's just couple of imports missing in the settings.dart file. Who created that file without material.dart file? lol

[2021-03-12 07:48] D-Ajay-Kumar commented on #105
Oh I'm sorry I didn't mean to send a PR here but only in my forked repo. Is there any way to delete this PR?

[2021-03-12 09:15] anirudhsai20 commented on #93
Hi @himanshusharma89 . I will be sending a pull request within an hour.

[2021-03-12 11:02] pratikbaid3 commented on #69
@nakshatrasinghh Any chance this is fixed?

[2021-03-12 11:09] Rishabh510 commented on #105
@himanshusharma89 The bug is there due to PR #97 . There is problem in lib/views/profile.dart and lib/views/settings.dart files. Also code formatting is required.

[2021-03-12 11:19] himanshusharma89 commented on #54
Sure, will check it soon.

[2021-03-12 11:20] himanshusharma89 commented on #69
Yeah @nakshatrasinghh, do let me know the updates on the issue.

[2021-03-12 11:23] himanshusharma89 commented on #105
Just checked it, thanks for the issue @RGTechno, as you created this issue, would you like to work on this? (if not assigned to any other issue).

[2021-03-12 11:26] anotherwebguy commented on #105
can i work on this i've already fixed the issue should i make a pr?

[2021-03-12 11:26] RGTechno commented on #105
Yeah..Definitely I would work on this issue and i am not assigned to any issue

[2021-03-12 11:28] RGTechno commented on #105
@himanshusharma89 assign this issue to me and I'll send a pr.
Thanks

[2021-03-12 11:37] anotherwebguy commented on #38
can i create work on the setting screen creating all those buttons ?
plz assign me this issue @himanshusharma89

[2021-03-12 11:57] himanshusharma89 commented on #38
@anotherwebguy You can select a single button from the issue and wait for this PR to be merged: #108

[2021-03-12 11:58] Neha62-lit commented on #33
@himanshusharma89  Can you explain me again, what I have to do in these screen?I'm little bit confused!!

[2021-03-12 12:24] himanshusharma89 commented on #33
@Neha62-lit For the cart screen, you need to make sure for the following:

- [ ] There is no overflow in the screen.
- [ ] Make the screen responsive using MediaQuery, but if still facing the issue of overflow try Expanded or Flexible Widgets.
- [ ] Divide the code into multiple sections for better readability and call these methods in the Column

[2021-03-12 12:26] #43 closed

[2021-03-12 12:51] Chirag018 commented on #55
For the entire app or just one page.

[2021-03-12 12:52] Chirag018 commented on #55
For the entire app should I document or just one page.

[2021-03-12 13:05] himanshusharma89 commented on #55
@Chirag018 Create only the home page for now.

[2021-03-12 13:16] Neha62-lit commented on #33
Okay!! Got it👍

[2021-03-12 13:21] SapinderSingh opened #109 "Refactor the project according to lint rules."
I can work on this issue. I am a participant of GSSOC 21. I will refactor the whole code according to lint rules.

[2021-03-12 13:24] anotherwebguy commented on #38
Actually i've designed the layout of the settings screen

https://user-images.githubusercontent.com/66346161/110945858-37bc7d00-8364-11eb-8a49-6ef14b36ad67.mp4

![image](https://user-images.githubusercontent.com/66346161/110945902-49058980-8364-11eb-911e-fa587b6300ed.png)

[2021-03-12 13:25] anotherwebguy commented on #38
does this looks good?

[2021-03-12 13:28] himanshusharma89 commented on #38
Yeah, this looks good, @ritvij14 you can follow this design. And also, the Settings screen might be integrated by tonight, so you can integrate your work into it. Also, @anotherwebguy I'll assign you some part of this issue as soon as the profile fix is merged.

[2021-03-12 13:30] anotherwebguy commented on #38
so after the profile fix is merged i should integrate the settings layout into it right?

[2021-03-12 13:32] himanshusharma89 commented on #38
@anotherwebguy Not the whole screen and buttons, but the layout only.

[2021-03-12 13:37] anotherwebguy commented on #38
yeah only this layout i mean bcoz the functionality of the buttons will be designed by others right?

[2021-03-12 13:41] himanshusharma89 commented on #38
Yes @anotherwebguy

[2021-03-12 14:12] #83 closed

[2021-03-12 14:18] D-Ajay-Kumar commented on #32
The issue is being resolved or not? I might be able to help if there's some problem you're facing @rudranshawasthi

[2021-03-12 14:20] himanshusharma89 commented on #32
I guess this issue has taken a lot of time. I'll assign this to you. Make sure to remove the glow globally from the root(main.dart).

[2021-03-12 14:22] D-Ajay-Kumar commented on #32
On it @himanshusharma89

[2021-03-12 14:37] himanshusharma89 commented on #109
Thanks for the issue but your refactoring won't do anything as multiple contributors might skip it on the next PR. So this issue will be handled during the deployment of the app.

[2021-03-12 14:54] VaishnaviSood commented on #49
Hey @himanshusharma89 ...what's the status of this issue now?

[2021-03-12 15:02] himanshusharma89 commented on #49
As soon as this issue #84 is resolved, we'll move ahead with firebase tooling.

[2021-03-12 15:05] D-Ajay-Kumar commented on #32
Done. Please check the code. And also I had to fix some other errors that were causing build to fail because I had to check if scroll was removed after building the app with new code.

[2021-03-12 16:57] Rishabh510 commented on #109
VS code and Android Studio both have excellent internal refactoring methods. Closing this issue.

[2021-03-12 16:57] #109 closed

[2021-03-12 17:03] himanshusharma89 commented on #84
@aayushbisen The package name we are thinking about is tech.himanshusharma.relicbazaar

[2021-03-12 17:15] D-Ajay-Kumar commented on #32
Here, this only removes the scroll glow and doesn't affect other files :)

[2021-03-12 17:18] nakshatrasinghh commented on #69
Sorry for the late response @himanshusharma89, no I tried several things to solve it, but nothing seems to work as of now :(

[2021-03-12 17:21] #105 closed

[2021-03-12 17:41] #32 closed

[2021-03-12 17:43] himanshusharma89 commented on #69
I don't know much of this issue @pratikbaid3 can you help him out via Discord?

[2021-03-12 17:47] aayushbisen commented on #84
Should I change the package name in firebase json file also?

[2021-03-12 17:48] nakshatrasinghh commented on #69
Yes @pratikbaid3 we can connect on discord and work the issue

[2021-03-12 17:52] himanshusharma89 commented on #84
Follow this: https://medium.com/@skyblazar.cc/how-to-change-the-package-name-of-your-flutter-app-4529e6e6e6fc

If everything went perfectly, I'll add this project to the Firebase console.

[2021-03-12 18:54] pratikbaid3 commented on #69
@himanshusharma89 Ya sure. I'll look into this issue and get in touch with @nakshatrasinghh.

[2021-03-12 20:03] Samdid commented on #44
@himanshusharma89  login screen is ready please tell me where I have to add that screen?

[2021-03-12 20:15] Samdid commented on #38
@himanshusharma89 can I work on change username and password screen?

[2021-03-12 20:27] D-Ajay-Kumar commented on #101
Still being worked upon or can I take it?

[2021-03-12 20:32] believeInJha commented on #101
Hi @D-Ajay-Kumar actually I'm working on this and most probably create a PR by today EOD.

[2021-03-12 20:33] D-Ajay-Kumar commented on #101
Okay @believeInJha all the best :)

[2021-03-12 20:34] believeInJha commented on #101
@D-Ajay-Kumar  thanks man and same to you!

[2021-03-13 03:09] ShrutiJ-01 commented on #38
@himanshusharma89 I would like to work on the github repo link button

[2021-03-13 03:31] himanshusharma89 commented on #44
Add the screen in the views subfolder in lib. Also, make sure to pull the latest code.

[2021-03-13 04:48] Samdid commented on #44
Okay

[2021-03-13 04:55] pranavi79 commented on #40
I am assuming no one is assigned to this issue, can I work on it?

[2021-03-13 05:06] Abhi-1313 opened #118 "Correction in Readme.md"
In the 6th step ,its written

6. Commit your changes.

git checkout -b <your_branch_name>

which is wrong,i will correct it ,assign it to me under gssoc

[2021-03-13 10:01] Chirag018 opened #120 "RenderFlex Overflowed"
On pressing cart option in bottom navigation bar RenderFlex Overflowed error pops up every time.

<img width="398" alt="Screenshot 2021-03-13 at 3 27 45 PM" src="https://user-images.githubusercontent.com/56735482/111026590-f635db80-8410-11eb-9eee-d5ed6317c331.png">

[2021-03-13 10:08] #120 closed

[2021-03-13 13:53] himanshusharma89 commented on #38
Sure, but follow the current layout

[2021-03-13 13:54] himanshusharma89 commented on #38
Sure but the button is already linked, can you add the in-app web view on pressing the button?

[2021-03-13 13:57] ShrutiJ-01 commented on #38
Yes, I would like to try that

[2021-03-13 13:58] himanshusharma89 commented on #44
Oh, I assigned you 2 issues, complete this one before the next one.

[2021-03-13 13:59] himanshusharma89 commented on #40
Yeah, no one is assigned. I guess I have mentioned the reason why in the Discord Project Channel

[2021-03-13 14:04] #54 closed

[2021-03-13 14:10] himanshusharma89 commented on #38
You are assigned, follow the current theme to create the in-app web view

[2021-03-13 14:13] #84 closed

[2021-03-13 14:22] anotherwebguy commented on #38
Hey @himanshusharma89  i would like to work on the change addressed screen. Plz assign me this issue. Thanks:)

[2021-03-13 14:55] aayushbisen opened #122 "App Release action is failing"
# Bug Report 🐛

## Expected Behavior
App release action should build the apk and create a new release.

## Current Behavior
The action is failing in installing dependencies stage.

## Possible Solution
Update the App release workflow to use the current Flutter version.

## Steps to Reproduce
The issue can be reproduced when any new commit is pushed to master branch.

[2021-03-14 06:05] #118 closed

[2021-03-14 06:11] himanshusharma89 commented on #44
@Samdid Is this issue resolved?

[2021-03-14 06:11] himanshusharma89 commented on #29
@pratikbaid3 Is this issue resolved?

[2021-03-14 06:13] himanshusharma89 commented on #42
@DevilAJ You can start working on this and make sure to do the service things in a separate folder named `services`.

[2021-03-14 06:14] pratikbaid3 commented on #29
@himanshusharma89 I am currently working on #69 as that is a prerequisite, I'll be finishing that in some time and then do this.

[2021-03-14 06:15] DevilAJ commented on #42
Ok

[2021-03-14 06:24] himanshusharma89 commented on #45
@sssash18 I have the API key, so go ahead integrate the app with the provided steps. Use placeholder in place of the key. I'll test it myself.

Also, you just need to work until the Initialize the Mobile Ads SDK part in the above article

[2021-03-14 06:33] himanshusharma89 opened #125 "Order Model"
Similar to the Product model create the Order model

# Discussion 🗣
The model needs to be created to handle API data.

[2021-03-14 06:34] D-Ajay-Kumar commented on #125
Can do it. Where can I find the attributes list that we'll get from the API?

[2021-03-14 06:37] himanshusharma89 commented on #125
Check the order_item.dart in widgets for the fields. And you just need to create the model for now. I'll create a separate issue to handle the data.

[2021-03-14 07:47] sssash18 commented on #45
Yeah sure , I will finsih the integration and get back to you

[2021-03-14 07:53] sssash18 commented on #45
A question do I have to do it for ios ?

[2021-03-14 07:57] himanshusharma89 commented on #45
Only for Android for now

[2021-03-14 08:55] ThatOneTallKid commented on #35
![Uploading WhatsApp Image 2021-03-14 at 2.22.45 PM.jpeg…]()

[2021-03-14 09:19] pranjalagrawal2012 commented on #103
Hey ,@D-Ajay-Kumar @SapinderSingh @Tushar-OP @lordvins226 @anushbhatia if this  issue is active and assigned to nobody then i would be grateful if you can assign me on this issue ?

[2021-03-14 09:22] pranjalagrawal2012 commented on #89
@himanshusharma89 @Mohitmadhav @SamarpanCoder2002 @SapinderSingh @Tushar-OP is this issue active ? and is someone assigned for this issue ??  if not , it will be grateful to work on this issue ?

[2021-03-14 09:50] SamarpanCoder2002 commented on #89
If this issue applicable, Please assign me to here...I raised the issue at first

[2021-03-14 10:06] D-Ajay-Kumar commented on #125
That's all right?

![order model](https://user-images.githubusercontent.com/56850266/111064602-fc908a00-84da-11eb-976f-633cb5296138.PNG)

[2021-03-14 10:19] D-Ajay-Kumar commented on #125
Should I also change the profile.dart file to pass Order object to order_item.dart instead of the individual attributes?

[2021-03-14 11:15] ritvij14 commented on #38
@himanshusharma89 sorry about late updates but because of some reasons I will be unable to contribute to this issue. Please give my task to someone else.

[2021-03-14 11:19] himanshusharma89 commented on #103
Hey @pranjalagrawal2012, this issue needs to be discussed before proceeding to it. I'll update this issue as soon as possible.

[2021-03-14 11:20] himanshusharma89 commented on #89
Yeah, if we proceed with this issue I'll assign it to you @SamarpanCoder2002

[2021-03-14 11:22] himanshusharma89 commented on #125
Not for now, there are a lot of issues assigned on Profile Screen, we need to wait till it is resolved. I'll create a separate issue for the Product and Order Model altogether

[2021-03-14 11:26] anotherwebguy commented on #38
Well i can work on the the faqs screen with pdf viewer after i'am done with manage address screen

[2021-03-14 11:28] SamarpanCoder2002 commented on #89
Thanks

[2021-03-14 11:34] himanshusharma89 commented on #38
Sure @anotherwebguy

[2021-03-14 11:39] D-Ajay-Kumar commented on #125
Okay then I'll push just this code

[2021-03-14 11:40] pratikbaid3 commented on #29
@himanshusharma89 #69 is taking some time. If someone else is willing to work on this issue, you can assign them. I'll first have to fix #69 anyways before I can start with this.

[2021-03-14 11:44] himanshusharma89 commented on #29
@pratikbaid3 Okay, I'll assign it to someone else, if he/she commented before that issue is resolved.

[2021-03-14 11:46] D-Ajay-Kumar commented on #125
Done. Please check the code :)

[2021-03-14 11:49] #125 closed

[2021-03-14 12:06] D-Ajay-Kumar commented on #29
Can do it

[2021-03-14 12:32] #100 closed

[2021-03-14 12:37] D-Ajay-Kumar commented on #29
On it

[2021-03-14 14:27] #35 closed

[2021-03-14 15:42] abhishek7997 commented on #103
Can I do it, if no one will be assigned? @D-Ajay-Kumar

[2021-03-14 15:50] D-Ajay-Kumar commented on #29
How do these look?

![WhatsApp Image 2021-03-14 at 9 16 47 PM](https://user-images.githubusercontent.com/56850266/111074847-07fba980-850b-11eb-96c2-60bbf4b8231b.jpeg)
![WhatsApp Image 2021-03-14 at 9 17 02 PM](https://user-images.githubusercontent.com/56850266/111074849-0e8a2100-850b-11eb-9126-ba2e5b36ef5d.jpeg)

[2021-03-14 15:57] D-Ajay-Kumar commented on #101
Is it done? You need any kind of help @believeInJha ?

[2021-03-14 16:07] himanshusharma89 commented on #29
@D-Ajay-Kumar Looks good, create a PR. I hope you are following all the lining rules and making sure that you commit to finalise your work.

[2021-03-14 16:16] D-Ajay-Kumar commented on #29
Done. Please check the code :)

[2021-03-14 16:21] #29 closed

[2021-03-14 16:43] #33 closed

[2021-03-14 16:46] believeInJha commented on #101
Yes @D-Ajay-Kumar, actually I'm not able to figure out how to cast `ProductCard` into `Product` class. As `ProductCard` is a widget and `Product` is a class, hence I'm unable to figure that out, can you please give me some insight into this, it will be really helpful to me!

[2021-03-14 20:35] Neha62-lit commented on #44
@himanshusharma89  As Login screen is done, can I work on this issue now?

[2021-03-15 02:48] amanxnanda commented on #46
@Saransh-cpp  thanks for the reference

[2021-03-15 05:14] #45 closed

[2021-03-15 05:20] #36 closed

[2021-03-15 05:34] D-Ajay-Kumar commented on #101
You have to do 2 things -
1. Go to the ProductCard widget and make it accept only one argument, a Product object.
2. Go to the constants file and in the list of ProductCard make all the ProductCard accept not multiple fields but a single Product object.

Instead of

const ProductCard(
    text: 'ANTIQUE VASE',
    owner: 'by Lloyd Duran',
    amount: '₹ 4035',
    image: 'assets/items/3.png',

[2021-03-15 10:37] himanshusharma89 commented on #46
Admob is integrated now, you can proceed with it

[2021-03-15 15:40] rajeshpanjiyar opened #135 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a contributors file to add the **name and GitHub handle** of valuable contributors.
- I am a participant under GSSoC'21

[2021-03-15 15:43] himanshusharma89 commented on #135
Hey @rajeshpanjiyar, we already have a bot to do that, so this issue is not required.

[2021-03-15 15:45] rajeshpanjiyar commented on #135
Okay you can close this

On Mon, 15 Mar, 2021, 9:28 PM HIMANSHU SHARMA, ***@***.***>
wrote:

[2021-03-15 15:47] #135 closed

[2021-03-15 17:05] believeInJha commented on #101
@D-Ajay-Kumar, thank you from the bottom of my heart, it worked^-*

[2021-03-15 17:42] amanxnanda commented on #46
Okay, I'll start right away

[2021-03-15 17:46] D-Ajay-Kumar commented on #46
All the best @amanxnanda :)

[2021-03-15 22:12] Rishabh510 commented on #49
Since issue #84 is resolved, now we can make a auto scrolling carousel of banners. For now we can implement the code with random images. Do we have the mockups for that? Where are we going to place the carousel. I think we can assign this issue now. @himanshusharma89

[2021-03-15 22:13] Rishabh510 commented on #55
@Chirag018 Are you working on it? Its been 3 days.

[2021-03-16 04:44] #101 closed

[2021-03-16 04:46] himanshusharma89 commented on #49
Yeah @Rishabh510, we need to discuss where to show that banner. Any suggestions?
I was thinking of adding it to the home screen and remove the Name and all the text above the search.

[2021-03-16 04:47] himanshusharma89 commented on #55
Yeah, let us know if you are facing any issue

[2021-03-16 04:51] D-Ajay-Kumar commented on #101
You're welcome man @believeInJha

[2021-03-16 05:25] Chirag018 commented on #55
Sir @Rishabh510 , @himanshusharma89  I will update you by today.

[2021-03-16 09:24] Rishabh510 commented on #49
@himanshusharma89 Yes I was also thinking the same. Then lets go ahead with it.

[2021-03-16 11:31] anotherwebguy commented on #38
hello @himanshusharma89 sir i've created the manage address screen plz take a look
should i  make a pr now?

https://user-images.githubusercontent.com/66346161/111302184-15cf3d00-8679-11eb-96a8-529cbbd93ad7.mp4

[2021-03-16 15:24] AJAYK-01 opened #138 "Use Native Splash Screen"
## Port to Native Splash Screen

## Discussion :speaking_head:
I'm a participant of GSSOC '21 and wish to open my first issue in this project and the program.

The app currently uses Flutter splash screen with a timer of 3 seconds.
Native splash screen replaces the initial white screen (app initialising time) with our required splash screen.

## Context
This port needs to be done to improve the us

[2021-03-16 20:55] AJAYK-01 commented on #138
I have successfully made the changes, and is ready to PR, but may I know what version number should I change the app to?
Currently it is 1.0.0+1, after adding the native splash screens, what should be the new version number?

[2021-03-17 02:44] himanshusharma89 commented on #138
Don't change it, we are still in development, and it'll be updated after 1st deployment.

[2021-03-17 04:13] amanxnanda commented on #46
@himanshusharma89 I added the banner ad in the app but there are certain things that I would like to discuss like the placement of the ad, type of ad, etc.
![WhatsApp Image 2021-03-17 at 09 41 28](https://user-images.githubusercontent.com/34944818/111413858-072e6780-8705-11eb-9583-eefea6be7249.jpeg)

I had to replace the banner ad with the body for testing purposes.

[2021-03-17 04:41] himanshusharma89 commented on #46
@amanxnanda You can contact us on the relic bazaar discord, we will discuss it there.

[2021-03-17 05:20] amanxnanda commented on #46
Here's the new placement, above the bottom navbar. Is this okay should I make a PR now?
![image](https://user-images.githubusercontent.com/34944818/111418799-588f2480-870e-11eb-85e4-c7366d2a4dd6.png)

[2021-03-17 06:02] amanxnanda commented on #46
@himanshusharma89 can you please review this?

[2021-03-17 06:45] himanshusharma89 commented on #46
@amanxnanda this looks good, however can you  try to add it in the products screen too.

[2021-03-17 07:24] amanxnanda commented on #46
@himanshusharma89 can you describe how?

[2021-03-17 07:25] anotherwebguy commented on #38
So now can i work on faq's screen @himanshusharma89

[2021-03-17 07:33] himanshusharma89 commented on #46
@amanxnanda Similar to this screen, you can add the banner in the product_page.dart in the product folder inside the widget folder

[2021-03-17 08:56] amanxnanda commented on #46
@himanshusharma89  I added ads on the product page too. Can you please check?

![image](https://user-images.githubusercontent.com/34944818/111440649-8e430600-872c-11eb-8621-f269bc6cb9df.png)
![image](https://user-images.githubusercontent.com/34944818/111440653-900cc980-872c-11eb-8ec7-04ebd8b5ae69.png)

[2021-03-17 10:25] #138 closed

[2021-03-17 15:12] rajeshpanjiyar opened #141 "add contributors section in readme"
The ***contributors*** section is the best part of any readme. This issue is to add the contributor's section in the readme. It will add contributors' names automatically so no need to update this issue from time to time.
I am a participant in **GSSoC'21**. I request you to assign me this issue so that I can start working.

[2021-03-17 15:13] D-Ajay-Kumar commented on #141
Lol please not this again.

[2021-03-17 15:36] himanshusharma89 commented on #141
@rajeshpanjiyar You are creating the same issue again. As I have mentioned earlier here: #135, this issue is not required.

[2021-03-17 15:36] #141 closed

[2021-03-17 15:40] #46 closed

[2021-03-18 05:53] anotherwebguy commented on #38
https://user-images.githubusercontent.com/66346161/111579552-349a1480-87dc-11eb-88c7-661703a41162.mp4

Sir i've designed the faqs screen plz take a look @himanshusharma89
Shoul i make a pr now?

[2021-03-18 16:26] himanshusharma89 opened #143 "Testing"
# Bug Report 🐛

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

### Desktop
 - OS: [e.g. macOS]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 0.22.15]

## Detailed Description

## Possible Implementation

[2021-03-18 16:27] #143 closed

[2021-03-19 13:15] himanshusharma89 commented on #38
@ShrutiJ-01 Any update on your part?

[2021-03-20 07:24] ShrutiJ-01 commented on #38
@himanshusharma89 Almost there, will be making PR soon

[2021-03-20 16:25] himanshusharma89 commented on #27
@puru-ganda You can work on the email auth now

[2021-03-20 17:12] puru-ganda commented on #27
okay @himanshusharma89

[2021-03-21 14:38] himanshusharma89 commented on #44
@Neha62-lit Any update?

[2021-03-21 14:47] Neha62-lit commented on #44
Almost completed, will be making PR soon

[2021-03-22 10:42] #44 closed

[2021-03-22 13:00] Rishabh510 commented on #103
I think we can assign someone on this issue as SafeArea is important, especially when working with devices with notched display.

[2021-03-22 13:02] Rishabh510 commented on #122
@himanshusharma89 There hasn't been any update on this issue. Anyone else want to take up this issue?

[2021-03-22 13:05] Rishabh510 commented on #98
Also, we need to discuss that we will be using Provider only for the architecture. As there numerous other state management techniques like BLoC, Redux, get_it or a flavor of Provider like Stacked, my personal favorite.

[2021-03-22 13:08] Rishabh510 commented on #55
@himanshusharma89 I think we can assign the issue to someone else.

[2021-03-22 13:36] himanshusharma89 commented on #55
@Chirag018 Any update?

[2021-03-22 14:22] D-Ajay-Kumar commented on #103
Yeah sure

[2021-03-22 14:23] pranjalagrawal2012 commented on #103
I can work on this @Rishabh510

[2021-03-22 15:42] Chirag018 commented on #55
@himanshusharma89  sir you can assign this task to someone else

[2021-03-22 15:44] #122 closed

[2021-03-22 15:45] himanshusharma89 commented on #103
You can work on it as you created this issue and if you are not assigned to any other issue.

[2021-03-22 16:58] D-Ajay-Kumar commented on #103
Sure I'll add Safe Area to every Scaffold in the app

[2021-03-23 06:53] pawan2806 commented on #48
What's the update on this @himanshusharma89 ?

[2021-03-23 07:51] himanshusharma89 commented on #48
We can work on this now.

[2021-03-23 07:52] himanshusharma89 commented on #42
@DevilAJ Any update?

[2021-03-23 07:56] DevilAJ commented on #42
I am working on it. Due to ongoing college exams I was unable to work much, but they are over now. Will make PR soon..

[2021-03-23 10:04] himanshusharma89 commented on #38
@ShrutiJ-01 Facing any issue?

[2021-03-23 10:05] himanshusharma89 commented on #69
Any update on this? @pratikbaid3 @nakshatrasinghh

[2021-03-23 10:08] himanshusharma89 opened #151 "Use the named routes to navigate in between pages."
Use the named routes to navigate in between pages.

# Discussion 🗣
Use the named routes in constants.dart to navigate in between screen.

## Context
Make sure to use Replacement and RemoveUntil methods appropriately.

[2021-03-23 10:10] Alifbhanvadiya14 commented on #39
@himanshusharma89 Will be done by Tomorrow

[2021-03-23 10:55] himanshusharma89 opened #152 "Use the RelicBazaarStackedView widget in place of Stacks for Retro Theme UI"
Use the StackedContainer widget in place of Stacks for Retro Theme UI

# Discussion 🗣
A lot of UI in the app depends upon the Stack and Transform UI, so instead of repeating the code use the StackedContainer widget for that.

## Context
To remove the repeated code, we will use this widget.

## Detailed Description
Check login.dart and home.dart for the example of StackedContainer

[2021-03-23 13:12] SapinderSingh commented on #152
Hey, @himanshusharma89 I want to work on this issue, Please assign it to me

[2021-03-23 13:13] SapinderSingh commented on #151
Hey @himanshusharma89, I can work on this issue. Please assign it to me.

[2021-03-23 13:42] SapinderSingh commented on #151
@himanshusharma89 There is a Cart Button on the top right of home.dart screen, What should I have to do of that button ?

[2021-03-23 13:46] himanshusharma89 commented on #151
You can use pagecontroller for that, pass it from the dashboard.

[2021-03-23 14:23] SapinderSingh commented on #151
@himanshusharma89 same as for the buttons in the drawer ?

[2021-03-23 14:32] SapinderSingh commented on #151
@himanshusharma89 and where to navigate when clicked on the "Log Out" Button ?

[2021-03-23 14:34] himanshusharma89 commented on #151
No, those screens will use Navigator for navigation.

[2021-03-23 14:35] himanshusharma89 commented on #151
Back to the login screen, using Navigator

[2021-03-23 15:35] SapinderSingh commented on #151
@himanshusharma89 Please review my PR

[2021-03-23 17:26] Chirag018 commented on #152
@himanshusharma89  I can work on this issue, you can assign this issue to me

[2021-03-23 18:47] himanshusharma89 commented on #152
@Chirag018  You were not able to work on MK Docs earlier. So, will you be able to do this?

[2021-03-24 03:46] Chirag018 commented on #152
@himanshusharma89 Yes sir.

[2021-03-24 05:28] DOOMSTERR opened #155 "Modifying Readme.md file by adding batches"
## Request ✨
Hello sir, I want to modify the readme.md file.

## Detailed Description
I simply want to add shield batches in different colors for:
-> issues-open
-> pull_request-open
-> total no. of forks
-> total no. of stars

### Example:
--> ![Issues](https://img.shields.io/github/issues/himanshusharma89/relic_bazaar)

Hello, @himanshusharma89 sir, please allow me to do so, by assigning me the

[2021-03-24 12:01] #151 closed

[2021-03-24 12:05] #155 closed

[2021-03-24 12:38] SapinderSingh commented on #38
@himanshusharma89 I want to work on the T&C Screen.

[2021-03-24 20:10] D-Ajay-Kumar commented on #103
Done. Please check the code :)

[2021-03-25 15:28] SapinderSingh opened #161 "App is using a Text Widget for unknown route instead of a screen."
# Bug Report 🐛
If by chance there is no valid route, user must be navigated to a screen, rather than encountering app crash or errors, but the app is using a Text widget instead of a screen.

## Expected Behavior
If there is no valid route or screen, user must be navigated to a screen saying, unknown route.

## Current Behavior
A black screen, with a text is shown.

## Possible Solution
I will cre

[2021-03-25 15:41] himanshusharma89 commented on #161
@SapinderSingh I suppose I commented on the default value regarding this and sure, you can work on this. Do follow the Retro theme.

[2021-03-25 16:58] Chirag018 commented on #152
@himanshusharma89  sir when I am trying to use stacked container widget I just get problem like what should I do with offset ?

[2021-03-25 16:59] himanshusharma89 commented on #152
Can you attach the error message here

[2021-03-26 05:48] Chirag018 commented on #152
sir in stacked container we require child , whereas in stack widget we require children how to handle this sir?

[2021-03-26 07:35] AksV73 opened #165 "Log in screen overflowing"
# Bug Report 🐛

The login screen is overflowing in my phone.
## Expected Behavior

The UI should be uniform for all sizes and shapes of smartphones
## Current Behavior

It is overflowing in my phone
## Possible Solution

I would like to insert a scroll in place in order to solve this issue.

[2021-03-26 07:35] himanshusharma89 commented on #152
Check the code again, the StackedContainer contains the Stack and children, so you need to use this StackedContainer in every place where we have Stack to create the design with Transform widget aschildren. And the child will be the other one in the children.

[2021-03-26 07:38] AksV73 opened #166 "Settings screen is overflowing"
# Bug Report 🐛
My phone is of a smaller size. Similar to the login screen, the settings screen is overflowing in my phone.
I would like to solve this by placing a vertical scroll.
Can I take it up ?

[2021-03-26 07:39] himanshusharma89 commented on #165
Instead of adding a scroll, can you make the whole screen responsive? You can use Flexible if required. @AksV73

[2021-03-26 07:45] AksV73 commented on #165
Ok I'll try it out

[2021-03-26 07:47] himanshusharma89 commented on #165
@AksV73 You can decrease the size of widgets. Are you participating in GSSOC? If so, I'll assign it to you

[2021-03-26 07:50] AksV73 commented on #165
Yes I am

[2021-03-26 08:02] #161 closed

[2021-03-26 10:38] Chirag018 commented on #152
@himanshusharma89  Can I divide the signup_view.dart file into different widgets/methods which are being called in the Stack widget inside build method.

[2021-03-26 10:46] himanshusharma89 commented on #152
No, you don't have to do such things, you just need to remove the Stack and Transform Widget and then other children parent will be replaced with StackedContainer. Check the files that I have mentioned in the issue.

[2021-03-26 12:32] Chirag018 commented on #152
okay

[2021-03-26 14:32] Mus2413 commented on #166
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 16:43] himanshusharma89 commented on #166
I suppose I have already assigned another issue to @AksV73, so sure @Mus2413. Also, do check out the pinged messages on the relic bazaar channel in Discord for few pointers before contributing. For this issue, make the screen responsive and decrease the font size of the items, also use StackedContainer instead of Stack for the background UI.

[2021-03-26 16:54] Mus2413 commented on #166
Thank you for assigning it .

[2021-03-27 09:01] Mus2413 commented on #166
How much time I have to complete this task?

On Fri, 26 Mar, 2021, 10:13 pm HIMANSHU SHARMA, ***@***.***>
wrote:

[2021-03-27 09:52] himanshusharma89 commented on #166
Within 2 days.

[2021-03-27 17:55] #48 closed

[2021-03-27 18:42] himanshusharma89 commented on #38
@ShrutiJ-01 Any update?

[2021-03-27 18:48] himanshusharma89 commented on #49
Hey @VaishnaviSood, do you still want to work upon this issue? If so, you can work on it now as Remote Config is integrated now.

[2021-03-28 01:32] anotherwebguy commented on #38
Should i do it ?

[2021-03-28 02:23] ShrutiJ-01 commented on #38
@himanshusharma89 Extremely sorry! couldn't finish it on time because of exams.I Will make a PR today itself

[2021-03-28 14:13] #166 closed

[2021-03-28 14:29] Mus2413 opened #174 "Keep User Logged in"
# Feature Request ✨

## Use Case

## Possible Solution

## Context

## Detailed Description

After the user quit the app and returns back , then  they have to logged in again.  I want to add one feature which will keep user signed in .

[2021-03-28 14:31] Mus2413 commented on #174
I want to add this feature please assign this issue to me.

[2021-03-28 17:05] himanshusharma89 commented on #174
@ishandeveloper @smaranjitghose @anushbhatia @Rishabh510 Should we use shred preferences here or StreamBuilder?

[2021-03-28 17:18] Mus2413 commented on #174
Shared preferences

On Sun, 28 Mar, 2021, 10:35 pm HIMANSHU SHARMA, ***@***.***>
wrote:

[2021-03-28 17:32] ishandeveloper commented on #174
Shared Prefs seems like a better option to me, what do you think?

[2021-03-28 17:51] Rishabh510 commented on #174
Using StreamBuilder we can just check for onAuthChanged flag and direct the user accordingly. Its just like if else and much better as we are anyway requiring internet connection for connecting to Firebase. So it makes sense rather using Shared Prefs.

[2021-03-29 04:37] SapinderSingh commented on #38
@himanshusharma89 I would like to work on the Logout button.

[2021-03-29 07:53] #93 closed

[2021-03-31 18:42] himanshusharma89 commented on #174
We have to decide between the two of them. I'll finalise it tomorrow.

[2021-04-01 10:22] SamarpanCoder2002 commented on #89
@himanshusharma89 .... Can now I proceed with that....I am also a GSSOC'21 participant...I I can forward with that...Please assign me to here.....thanks

[2021-04-01 10:47] #165 closed

[2021-04-01 21:41] ishandeveloper commented on #174
Last time I used Streambuilder with firebase auth, the initial load times for my app to go from splash screen to actual home screen were significantly larger. I believe with the shared prefs approach, that won't be the case. Still, I'm open to the idea of using streambuilder, if that better fits our use case. What do you think?

[2021-04-02 12:37] Rishabh510 commented on #174
We can go with shared_prefs as well. The difference is we connect with Firebase Server when using Streambuilder and with local device storage when using shared_prefs and then later with Firebase Server to initiate login request. Also, we can show the Splash screen only till we get the user authentication status from Firebase and then move over to the Home Page of the application. I recommended Str

[2021-04-02 15:45] himanshusharma89 commented on #174
@Mus2413 You can go ahead with streambuilder for keeping user logged in:
![image](https://user-images.githubusercontent.com/44980497/113430836-7dff7c00-93f8-11eb-98f2-d64bb7679d40.png)

[2021-04-02 15:46] Mus2413 commented on #174
Okay

On Fri, 2 Apr, 2021, 9:15 pm HIMANSHU SHARMA, ***@***.***>
wrote:

[2021-04-04 15:51] himanshusharma89 opened #177 "Login and Sign Credentails Validation"
Use RegEx to validate the email using TextFormField features.

# Discussion 🗣
Features required to indicate user if the email is not valid.

## Detailed Description
Display the error below the centre UI (Don't show the error below the TextFormField). Also, if the email is correct after don't display the error. (user TextFormField features for that)

[2021-04-04 15:54] himanshusharma89 opened #178 "Use FocusNode to shift from one TextFormField to another"
Use FocusNode to shift from one TextFormField to another

# Discussion 🗣
If the user uses the done button in his/her keyboard, the focus should be changed to below textformfield.

## Context
https://medium.com/flutterdevs/focusnode-in-flutter-4a8613d7e4f6

[2021-04-04 15:58] Neha62-lit commented on #177
@himanshusharma89 I would like to work on this issue!!

[2021-04-04 15:59] Samdid commented on #178
@himanshusharma89 I would like to work on this, please assign it to me. Also, I am a gssoc participant

[2021-04-04 17:06] himanshusharma89 commented on #177
Pull the updated code, before working @Neha62-lit

[2021-04-04 17:06] himanshusharma89 commented on #178
Pull the updated code, before working @Samdid

[2021-04-04 17:11] himanshusharma89 commented on #42
@DevilAJ I cannot assign an issue for this much time.

[2021-04-04 17:52] Samdid commented on #178
Sure

[2021-04-05 04:07] DevilAJ commented on #42
Please reassign me half of the work is done and I was stuck on some bugs which I will clear soon.

[2021-04-06 12:42] srisatya1197 opened #180 "Improving tech stack with logos in readme"
I want to improve the tech stack in readme file with logos. I'm a participant of GSSOC'21 please assign this issue to me @himanshusharma89 .

[2021-04-06 14:23] anotherwebguy commented on #174
Hey @himanshusharma89  we can use FirebaseAuth.Currentuser.uid
Like we can use it as
FirebaseAuth.Currentuser.uid !=null ? Loginpage : homescreen

This way the user will be signed if he/she hasn't loggedout

Should i work on this issue under gssoc?

[2021-04-06 15:30] himanshusharma89 commented on #174
@anotherwebguy The above stream will do the same and this issue is already assigned to @Mus2413. BTW @Mus2413, any update on this issue?

[2021-04-06 15:40] Mus2413 commented on #174
I am working on it...

On Tue, 6 Apr, 2021, 9:00 pm HIMANSHU SHARMA, ***@***.***>
wrote:

[2021-04-07 04:14] anotherwebguy commented on #38
i have already added the notification toggle button in the settings screen is there anything else related to it that needs to be done? i can work on it then?

[2021-04-07 09:39] #178 closed

[2021-04-07 09:41] himanshusharma89 commented on #38
@anotherwebguy We'll have a particular screen for this also, where user can choose to enable disable the notification

[2021-04-07 09:54] himanshusharma89 commented on #38
@anotherwebguy Yes you can but do follow the lining rules and resolve the problems(don't ignore them) also don't use Extra widgets for anything unnecessary. I have to clean the code letter. The screen will consist of some text on top which will tell user what does this do and below it, we will have a ListTile for toggle as trailing

[2021-04-07 09:55] himanshusharma89 commented on #177
Any update @Neha62-lit?

[2021-04-07 09:57] anotherwebguy commented on #38
Okay i'll keep that in mind i can work on this plz assign it to me

[2021-04-07 14:03] Neha62-lit commented on #177
Started with it, will make a PR soon!

[2021-04-07 17:39] #174 closed

[2021-04-08 06:40] SamarpanCoder2002 commented on #39
Can I work on that issue...I am also a GSSOC'21 particiapant....Please assign me to here

[2021-04-08 07:34] anotherwebguy commented on #38
@himanshusharma89 i'm not able to signup in relic bazar it says invalid request

[2021-04-08 07:52] himanshusharma89 commented on #39
@SamarpanCoder2002 Sure, but make sure to do it like this:
![image](https://user-images.githubusercontent.com/44980497/113988752-664b4c00-986d-11eb-8eed-1c81290834c3.png)

[2021-04-08 07:53] himanshusharma89 commented on #38
Are your trying Google Auth? If so, you need to add your SHA-1 key into the firebase console for that.

[2021-04-08 07:55] anotherwebguy commented on #38
No iwas trying email auth but it isn't working for me can u plz add my sha keys on firebase so atleast i can login through google auth and work on the issue if yes then i'll share my sha keys over discord dm to you?

[2021-04-08 07:58] himanshusharma89 commented on #38
Sure @anotherwebguy

[2021-04-08 09:41] SapinderSingh commented on #28
@himanshusharma89 I think the app should have a Privacy Policy page.

[2021-04-08 10:10] akshatvirmani opened #182 "To add contributor's name in README.md file."
# Feature Request ✨

To add contributor's name in README.md file.

[2021-04-08 10:10] akshatvirmani commented on #182
I would like to work on this issue. Kindly assign this to me.

[2021-04-08 11:16] himanshusharma89 commented on #182
https://github.com/himanshusharma89/relic_bazaar/issues/135#issuecomment-799523484

[2021-04-08 11:16] #182 closed

[2021-04-08 12:09] anotherwebguy commented on #38
![image](https://user-images.githubusercontent.com/66346161/114024156-58a7bd80-9891-11eb-9dee-d89ba2b93fd2.png)

should i  make a pr now @himanshusharma89 ?

[2021-04-08 16:49] himanshusharma89 commented on #28
Sure @SapinderSingh, go ahead create an issue. I'll assign it to you

[2021-04-08 16:50] himanshusharma89 commented on #38
@anotherwebguy Just make sure that you use already created Widget for the stacked view

[2021-04-08 16:52] anotherwebguy commented on #38
Yes i've used that only @himanshusharma89
So i am making the pr tomorrow the

[2021-04-09 01:34] SapinderSingh opened #183 "Privacy Policy Page"
I would like to create a Privacy Policy Page as a participant of GSSOC 21.

[2021-04-10 05:36] anotherwebguy opened #186 "Renderflex issue in the login & signup page"
# Bug Report 🐛
the login and signup page throws renderflex error when we go to enter our credentials

## Current Behavior
this should not happen in the app

## Possible Solution
Wrapping it with single Child scroll view would fix this issue

##Screenshots
![image](https://user-images.githubusercontent.com/66346161/114259597-b56bbb00-99ec-11eb-89ca-8c8498cd6f53.png)
![image](https://user-images.git

[2021-04-10 17:06] #183 closed

[2021-04-10 17:07] himanshusharma89 commented on #186
@anotherwebguy Why does the signup screen have a top bar? and what device are you using?

[2021-04-10 17:15] anotherwebguy commented on #186
it was there when i runned the app
As u can see
The person who pushed signupview screen has used an appbar there
I would fix that too

And i am using android device
Redmi 4

[2021-04-10 17:19] himanshusharma89 commented on #186
Just checked the code it was, I didn't add the background colour and elevation. Also, for small screen device, try to decrease the font size, spaces, icons and also the size of the whole stacked view. If the issue is still there use SingleChildScroll view (but for east possibility)
@anotherwebguy Fix the other PR and I'll assign this to you.

[2021-04-11 01:42] anotherwebguy commented on #186
Yes i'll do it

[2021-04-11 06:13] Neha62-lit commented on #177
@himanshusharma89  Can I use here flutter toast package for display error?
https://pub.dev/packages/fluttertoast

[2021-04-11 15:08] himanshusharma89 commented on #177
Use snackbar, toasts might not be visible to user

[2021-04-11 17:18] Neha62-lit commented on #177
Okay

[2021-04-11 19:32] SamarpanCoder2002 commented on #39
@himanshusharma89 ... Sir I don't even get into the project....many errors came

<p>
1. <img src="https://user-images.githubusercontent.com/66327336/114318175-7727e600-9b29-11eb-9a1b-89ca42b413a2.png" width="200">
2. <img src="https://user-images.githubusercontent.com/66327336/114318180-7c853080-9b29-11eb-91df-c1b4c236e471.png" width="200">
</p>

Everytime invalid reuqest came.... Even I give the

[2021-04-12 00:54] himanshusharma89 commented on #39
@SamarpanCoder2002 The issue is most probably because of the SHA-1 key not being added to the firebase console. Your SHA-1 keys need to be added in the console for auth to be working.

And about the error message, an issue is already raised for that.

[2021-04-12 02:36] SamarpanCoder2002 commented on #39
Ok cool.... please add me with that firebase account.... My Gmail: samarpanofficial2021@gmail.com

[2021-04-12 12:10] #38 closed

[2021-04-12 13:28] anotherwebguy commented on #186
Plz assign me this issue now @himanshusharma89

[2021-04-14 11:37] SamarpanCoder2002 commented on #39
@himanshusharma89 I provide my mail to add me with firebase account....

Please response @himanshusharma89....

Otherwise I can't start working on that

[2021-04-14 18:17] himanshusharma89 commented on #39
@SamarpanCoder2002 Send me your SHA-1 key via Discord, I'll add it to the console.

[2021-04-16 04:57] RGTechno commented on #28
@himanshusharma89 Why am I not able to sign up with email and password? Could you pls help?
![Screenshot_1618548872](https://user-images.githubusercontent.com/65856344/114973538-4b488f80-9e9e-11eb-9545-9c625f34091d.png)

[2021-04-16 04:58] RGTechno commented on #28
I've tried with actual Gmail-ID still not able to sign up!!

[2021-04-17 08:47] Mohitmadhav commented on #41
@himanshusharma89 can I work on this issue?

[2021-04-17 08:53] Mohitmadhav commented on #27
@himanshusharma89 can I work on this issue?

[2021-04-17 09:04] #186 closed

[2021-04-17 09:07] himanshusharma89 opened #189 "Store user data into Cloud Firestore"
Store the user data after authentication into Cloud Firestore

# Discussion 🗣
Store the user's email, name and uid into Cloud Firestore

[2021-04-17 09:07] himanshusharma89 commented on #27
@Mohitmadhav Sure

[2021-04-17 09:08] Mohitmadhav commented on #189
@himanshusharma89 can I take up this issue?

[2021-04-17 09:10] himanshusharma89 commented on #189
@Mohitmadhav You can work on one issue at a time

[2021-04-17 09:10] himanshusharma89 commented on #39
@SamarpanCoder2002 Any update?

[2021-04-17 09:12] himanshusharma89 commented on #98
@Rishabh510 I prefer provider as of now, because we don't have much complex features in the app.

[2021-04-17 09:12] SamarpanCoder2002 commented on #39
I not noticed your reply.... I will send SHA1 ket in discord

[2021-04-17 09:12] himanshusharma89 commented on #98
@D-Ajay-Kumar would you like to work on this? If so, let me know. we'll discuss the issue in details

[2021-04-17 09:25] himanshusharma89 opened #190 "Use FutureBuilder to fetch the products"
Use FutureBuilder to fetch the products

# Discussion 🗣
In the HomeScreen use  FutureBuilder to fetch the products from a method named getProducts (create a service class for that).

## Detailed Description
For now, the getProducts will only fetch the data which is provided in the constants but as a Future.

[2021-04-17 12:28] SapinderSingh commented on #190
@himanshusharma89 I would like to work on this issue.

[2021-04-17 12:39] Mohitmadhav commented on #190
@himanshusharma89 can I work on this issue?

[2021-04-17 12:44] himanshusharma89 commented on #190
@Mohitmadhav As I mentioned earlier, one person can work on 1 issue at a time.

[2021-04-17 13:58] #190 closed

[2021-04-18 17:09] #55 closed

[2021-04-19 00:47] SapinderSingh commented on #152
@himanshusharma89 I can work on this issue.

[2021-04-19 03:27] anotherwebguy commented on #189
I can work on this issue plz assign me this issue
Here's my email id mohitrajputms123@gmail.com
Plz add me on firebase

[2021-04-19 04:02] abhishek7997 commented on #189
The issue lacks clarity.
Please tell everything that consists of User data.

[2021-04-19 14:56] anotherwebguy commented on #189
What all user info do we have to push to cloud firestore? @himanshusharma89

[2021-04-19 15:31] himanshusharma89 commented on #189
@anotherwebguy mentioned in the description

[2021-04-19 15:32] #152 closed

[2021-04-19 15:32] anotherwebguy commented on #189
Okay @himanshusharma89

[2021-04-20 06:37] SapinderSingh opened #197 "Alignment issue in payment successful screen."
# Bug Report 🐛
The transform.translate is not a readable code. The 'continue shopping' is also not working. The alignment of the UI elements is not proper.

## Expected Behavior
The UI should be properly aligned, and code should be readable.

## Current Behavior
The payment successful screen's UI is not proper, as you can see in the screenshot.

![WhatsApp Image 2021-04-20 at 06 22 24 (2)](https:/

[2021-04-20 09:51] anotherwebguy commented on #189
![Screenshot (321)](https://user-images.githubusercontent.com/66346161/115376009-f5505080-a1eb-11eb-9e97-425d94c3668d.png)

hey @himanshusharma89 you will have to enable the cloud firestore since it requires owner permissions

[2021-04-20 14:54] himanshusharma89 commented on #189
@anotherwebguy Done

[2021-04-20 16:07] #197 closed

[2021-04-21 03:58] SapinderSingh opened #199 "Renderflex overflow on MYRON DISC THROWER product page."
There is a renderflex overflow on this product page as you can see in the screenshot.

![WhatsApp Image 2021-04-20 at 06 22 24 (1)](https://user-images.githubusercontent.com/29424616/115494692-c5ed2280-a283-11eb-8f84-13160407bed5.jpeg)

[2021-04-21 04:16] anotherwebguy opened #201 "Adding Loader"
# Feature Request ✨

## Use Case

Currently while signing in aur during login there isn't any loader to indicate the user to wait

## Possible Solution

I would like to add Loader for indicating loading during signin and login
I would be using ModalProgressHUD package for this feature

[2021-04-21 06:36] #189 closed

[2021-04-21 14:14] #201 closed

[2021-04-21 16:20] himanshusharma89 commented on #25
@diksh735 Are you interested in working on this issue? If so, let me know.

[2021-04-21 17:23] diksh735 commented on #25
I am actually busy right now.

On Wed, 21 Apr 2021 at 21:51, HIMANSHU SHARMA ***@***.***>
wrote:

[2021-04-22 04:50] SapinderSingh commented on #25
@himanshusharma89 I can work on this issue.

[2021-04-22 06:10] #199 closed

[2021-04-23 06:32] #25 closed

[2021-04-24 07:44] SapinderSingh commented on #49
@himanshusharma89 I can work on this issue.

[2021-04-24 11:49] himanshusharma89 commented on #49
@SapinderSingh Do you want to work on this?

[2021-04-24 11:50] himanshusharma89 commented on #40
@pranavi79 Do you want to work on this issue?

[2021-04-24 11:50] SapinderSingh commented on #49
Please check your Discord

[2021-04-24 12:05] Mohitmadhav opened #205 "Change Package name of the app"
The package name currently is retro shopping which needs to be changed.

@himanshusharma89 can you assign me this issue?

[2021-04-24 17:21] Rishabh510 commented on #49
you can reply here itself as we can assign you the task while you make a PR.

[2021-04-24 23:14] SapinderSingh commented on #49
👍

[2021-04-25 02:00] khareyash05 opened #207 "update contributing.md"
Hi I would like to update contributing.md and add the following with proper steps-

Difference between git and github
Cloning a Repo
Creating a Branch and updating it locally as well as forked time to time
Creating a PR
Squashing Commits

[2021-04-25 08:05] #205 closed

[2021-04-25 08:08] himanshusharma89 commented on #207
Sure @khareyash05

[2021-04-25 08:21] himanshusharma89 opened #209 "Display User data"
Use the User data to display it in the Home and Profile Screen

# Discussion 🗣
We have saved the user data to firestore , now we need to use that user to display the `name` and `email` in the `home screen` and `profile screen`

## Context
You can use the existing StreamBuilder in `main.dart` to store the User, or you can propose a different method to do that.

[2021-04-25 09:42] #207 closed

[2021-04-25 12:43] anotherwebguy commented on #209
hey @himanshusharma89 i would like to work on this issue under gssoc
 i've an different approach
we will fetch the data in a different class and then we call this method to get the user info wherever we want to display it
here's an example
![Untitled](https://user-images.githubusercontent.com/66346161/115993786-fae5d600-a5f1-11eb-9f5a-69e19cde8b36.png)

[2021-04-25 13:10] himanshusharma89 commented on #209
@anotherwebguy Assigned. But talking about the approach, as we already are using StreamBuilder which will give the User stream, we can use your fetchData method(Without FirebaseFirestore Instance call) in line 62 of main.dart and pass down the User and then we can save it locally in a RelicUser Model.

[2021-04-26 04:42] SapinderSingh commented on #177
@himanshusharma89  I can work on this issue.

[2021-04-26 05:04] SapinderSingh commented on #39
@himanshusharma89 I can work on this issue.

[2021-04-26 05:05] #49 closed

[2021-04-26 07:30] anotherwebguy commented on #209
We need the data from firestore user collection right? So we have to use firebasefirestore.instance ?

[2021-04-26 12:57] himanshusharma89 commented on #209
@anotherwebguy  Oh yeah, I forgot about the user's collection, okay, so we can just use the stream to check whether that particular uid exists in the users collection, if so we will pass it to our RelicUser model.

[2021-04-26 13:17] anotherwebguy commented on #209
Yes @himanshusharma89 i'll make a pr by tomorrow

[2021-04-27 16:16] #39 closed

[2021-04-29 12:27] KajalSinghBAGHEL opened #215 "Update README. md"
Remove grammatical mistakes

[2021-04-29 12:30] #209 closed

[2021-04-29 13:44] naman5665 opened #216 "Update CONTRUBUTING.md File."
# Resolve Gramatically Mistake in CONTRUBUTING.md File.

[2021-04-30 17:22] AshuKV commented on #216
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-30 17:23] AshuKV commented on #215
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-01 06:48] KajalSinghBAGHEL commented on #215
I have created the pull request about changes, please assign that other
participant another issue.
Thank you!

On Fri, 30 Apr 2021, 22:53 Ashutosh Verma, ***@***.***> wrote:

[2021-05-01 18:30] abhishek7997 commented on #177
@himanshusharma89
Can I try to fix this issue?

[2021-05-01 18:50] himanshusharma89 commented on #177
Sure @abhishek7997

[2021-05-02 01:53] SapinderSingh opened #217 "name getter was called on null."
# Bug Report 🐛
When user tries to login, The home screen shows a exception that name getter was called on null. It is because, the dashboard is not waiting to complete the future(get user method) and sending the userinfo to homescreen.

## Possible Solution
It's solution is to use, FutureBuilder, we will show a Circular Indicator till the future completes and then show the homescreen.

## Steps to

[2021-05-02 04:43] believeInJha commented on #42
Hey @himanshusharma89, Still being worked upon or can I take it?

[2021-05-02 04:46] himanshusharma89 commented on #42
Yes, you can work on it after your PR is merged.

[2021-05-02 04:48] believeInJha commented on #42
Cool

[2021-05-02 04:49] believeInJha commented on #103
hey @himanshusharma89, Can I take up this issue?

[2021-05-02 05:56] #217 closed

[2021-05-03 13:22] Neha62-lit opened #223 "Show and Hide Password Functionality in Sign-Up and Login Screens"
# Feature Request ✨
Show and Hide Password Functionality in Sign-Up and Login Screens.

## Use Case
We can see our password when we enter our password at the time of Login and Signup.

## Context
This functionality will be added in both Login and Signup screens.

[2021-05-03 13:28] himanshusharma89 commented on #223
Hey @Neha62-lit, are you talking about obscure text in password text form fields?

[2021-05-03 13:28] Neha62-lit commented on #223
Yes

[2021-05-04 06:35] #223 closed

[2021-05-04 14:33] #103 closed

[2021-05-04 14:37] himanshusharma89 commented on #42
@believeInJha Should I assign this issue to you?

[2021-05-04 15:10] believeInJha commented on #42
Yes please

[2021-05-05 10:54] believeInJha commented on #42
Kindly add me to the firebase console. My Gmail is `apurv.bmsit@gmail.com`, thanks!

[2021-05-05 17:50] himanshusharma89 opened #226 "Fetch products from REST API"
# Discussion 🗣
Currently, we are fetching the hard-coded products, now you need to fetch the products using a REST API.

## Context
Use this API: https://himanshusharma89-api.herokuapp.com/api/relic_bazaar/products

[2021-05-05 18:01] himanshusharma89 commented on #216
Such issues can not be worked upon on this project, if you want to contribute more, fix the grammatical mistakes and deploy the docs using mkdocs, check documentation and gh-pages branch

[2021-05-05 18:03] himanshusharma89 commented on #180
@srisatya1197 Such minor issues are not good for getting the points. If you still want to work on this, let me know if you can deploy mkdocs(check branches other than master)

[2021-05-05 18:04] #98 closed

[2021-05-05 18:04] himanshusharma89 commented on #89
We don't require Facebook Authentication, so closing this issue.

[2021-05-05 18:04] #89 closed

[2021-05-05 18:05] himanshusharma89 commented on #41
@ThatOneTallKid Do you still want to work on this issue?

[2021-05-05 18:06] #69 closed

[2021-05-06 02:23] SapinderSingh commented on #226
@himanshusharma89 I can work on this issue

[2021-05-06 06:11] SapinderSingh commented on #226
@himanshusharma89 Do I only have to create a method to fetch the products using http ? Or do I have to use it also ? Because, there is no image Url and no height values in the json data.

[2021-05-06 06:53] himanshusharma89 commented on #226
@SapinderSingh Fetch the data, create a factory constructor in the products model, pass the data, and later use it. You can use a check for an image and use an asset if it is empty or the size isn't greater than 1.

[2021-05-06 08:35] SapinderSingh opened #228 "Renderflex Overflow on login and signup page because of redundant icons and TextFields."
# Bug Report 🐛

There is a renderflex overflow on login and  signup screens because of redundant icons and text fields.

## Changes I will do -

- I will remove all the redundant icons and text fields.
- I will remove the facebook login icons as @himanshusharma89 said in #89 that app doesn't require facebook login feature.

I can work on this issue as a participant of GSSOC 21.

## Screenshots -

[2021-05-06 12:38] himanshusharma89 commented on #228
I'll fix the UI and make it responsive to any screen

[2021-05-06 14:45] #226 closed

[2021-05-06 16:40] naman5665 commented on #216
@himanshusharma89 So may i close this one issue ??

[2021-05-07 06:04] himanshusharma89 commented on #216
@naman5665 If you can work on mkdocs let me know, else you can close this.

[2021-05-08 10:24] SapinderSingh opened #230 "Form for getting details of the user who signs up via email."
Currently, there is no medium to get details of the users who signs up via email. I want to create that form.

[2021-05-08 18:13] naman5665 commented on #216
Ok @himanshusharma89

[2021-05-08 18:13] #216 closed

[2021-05-12 04:26] #230 closed

[2021-05-12 04:42] SapinderSingh commented on #228
Hey @himanshusharma89, if you haven't started working on this, then I would love to work on this issue.

[2021-05-12 04:48] himanshusharma89 commented on #228
Yeah, I am not getting time for that. Assigning this to you, try to use Expanded, Flexible, with FittedBox. It'll help to make the screen responsive.

[2021-05-12 04:51] SapinderSingh commented on #228
Okay Sir !

[2021-05-14 13:35] srisatya1197 commented on #180
That's completely fine @himanshusharma89 .

[2021-05-14 13:35] #180 closed

[2021-05-15 04:53] SapinderSingh opened #233 "Focus Nodes not working correctly on email sign up page."
# Bug Report 🐛
1. When user taps on next button on the soft keyboard, while being on the email text field, the cursor doesn't go to passoword text field.
2. TextInputAction is "done" for both password and for confirmed password text field.
3. Cursor doesn't work correctly on the password and confirm password field, as we can see in the video.

## Expected Behavior
1. When user taps on next button

[2021-05-15 09:36] #228 closed

[2021-05-15 09:55] #215 closed

[2021-05-15 13:56] SapinderSingh opened #235 "Value is not submitted unless user taps on the next or done buttons of soft keyboard on login and sign up screen."
# Bug Report 🐛
while filling the login or sign up form, if user doesn't taps on the next or done buttons of every text field, the value is not submitted and it gives Invalid request as error.

## Expected Behavior
Even if user doesn't taps on done or next buttons, all the values should be submitted, when user taps on the submit button.

## Steps to Reproduce
1. Go to login or sign up screen.
2. Do

[2021-05-15 16:52] #233 closed

[2021-05-15 16:53] himanshusharma89 commented on #235
@SapinderSingh Can you show me the error?

[2021-05-15 23:50] SapinderSingh commented on #235
@himanshusharma89 Sure.

[2021-05-16 00:05] SapinderSingh commented on #235
### Here it is -
https://user-images.githubusercontent.com/29424616/118381442-7858a100-b608-11eb-9133-9a4eba7eec8c.mp4

[2021-05-16 05:39] SapinderSingh commented on #177
@himanshusharma89  I can work on this issue. Please assign this to me.

[2021-05-16 16:17] #235 closed

[2021-05-18 11:33] Mohitmadhav commented on #41
Do we need to make specific user properties or just setting up Analytics in Firebase? @himanshusharma89

[2021-05-18 11:56] himanshusharma89 commented on #41
@Mohitmadhav you need to capture certain events or gestures from the application and send it to the condole.

[2021-05-19 04:42] SapinderSingh opened #238 "GetUserDetailsView doesn't do anything."
# Issue
The GetUserDetailsView doesn't do anything. It should receive the user details and update it on the Firebase.

- I will also do complete error handling for the form in this issue.

I want to work on this issue under GSSOC 21.

[2021-05-19 05:54] #177 closed

[2021-05-23 07:51] SapinderSingh opened #240 "Taking user profile image from device, store it in cloud storage and using it for profile."
# Feature Request ✨
We will take the user's profile picture from device, upload it in the cloud storage, take links from there and save them in firestore and use the links to show the image.

## Use Case
To show user's profile picture

I want to work on this issue under GSSOC 21.

[2021-05-23 11:18] Mohitmadhav commented on #41
1. Checking AdMob
2. Login
3. Changing Screen

We'll be adding these methods to every screen, right?

[2021-05-23 11:19] Mohitmadhav commented on #41
I meant the FirebaseAnalytics and FirebaseAnalyticsObserver object as an argument to every screen
@himanshusharma89

[2021-05-24 06:53] #238 closed

[2021-05-24 07:43] subhangi2731 commented on #56
@himanshusharma89 please assign this issue to me

[2021-05-24 07:45] subhangi2731 commented on #51
@himanshusharma89 please assign this issue to me

[2021-05-24 07:46] subhangi2731 commented on #42
@himanshusharma89 I want to work on this please assign me

[2021-05-24 07:47] himanshusharma89 commented on #42
@subhangi2731 One person can work on one issue at a time, so I am assigning this issue to you.

[2021-05-24 07:47] subhangi2731 commented on #41
@himanshusharma89 I am well versed with firebase please assign  me

[2021-05-24 10:22] himanshusharma89 commented on #41
@subhangi2731 I have assigned an issue to you.

[2021-05-25 05:29] himanshusharma89 opened #241 "Update Sign-Up flow"
# Discussion 🗣
Update the signup flow so that user don't have to sign up again if he/she close the app in between.
This flow will let the user upload picture in the user details form later.

[2021-05-25 10:36] Rishabh510 commented on #241
Wasn't this issue already handled when we were discussing what to use between SharedPrefs and StreamBuilder?

[2021-05-25 10:59] himanshusharma89 commented on #241
@Rishabh510 We need to update it to store the user profile pic in Firebase Storage in the User Details form

[2021-05-25 15:59] #241 closed

[2021-05-29 02:32] SapinderSingh opened #244 "No Error Handling for GoogleSignIn"
# Bug Report 🐛
No Error Handling is done for GoogleSignIn. If user clicks back button without selecting the account to login, the progress indicator keeps rotating. And user can't see anything if login fails for some reason.

## Expected Behavior
An error dialog should be displayed, when an error comes in google sign in, and if user taps back before or after selecting account, the progress indicat

[2021-05-29 07:41] #240 closed

[2021-05-29 13:30] SapinderSingh opened #246 "Profile View showing hard coded text."
# Bug Report 🐛
Profile screen not showing actual time of when the user joined. It is showing hard coded text (May 2020)

## Expected Behavior
Correct time should be shown of when user created the account.

## Possible Solution
We can fetch current user's meta data from firebase and show it on profile screen.

## Steps to Reproduce
1. Go to profile screen and see the hard coded text.

### Screensho

[2021-05-29 13:39] #244 closed

[2021-05-29 14:03] #246 closed

[2021-05-29 14:08] SapinderSingh opened #248 "Adding the cart system."
# Feature Request ✨
Currently, we are showing list of hard coded cart items. I will work to make cart show items, dynamically.

User will click on add to cart button on an item, and that item will be stored in, on device storage and will be shown in the cart screen.

[2021-06-08 05:08] sush67 commented on #41
Hey, I have recently added firebase analytics to one of the apps, to find bugs and user intercation. If no one is working on this issue, please assign it to me so that I can go ahead and work with it.
Thanks in advance!

[2021-06-08 15:55] sush67 commented on #41
Thank you @himanshusharma89 !
Please add me as a collaborator in the firebase, so that I can watch the debugview parallely and work accordingly.
My mail Id is : poorvihegde9@gmail.com

[2021-09-26 18:12] himanshusharma89 opened #251 "Migrate to null safety"
# Discussion 🗣
Migrate the whole project to null safety.

## Context
Follow this guide to know about the migration: https://dart.dev/null-safety/migration-guide

[2021-10-01 01:38] ShrutiJ-01 commented on #251
@himanshusharma89 I'd like to work on this!

[2021-10-01 01:48] himanshusharma89 commented on #251
Sure @ShrutiJ-01. Also if you face some dependency issues do raise a new issue for that.

[2021-10-01 11:34] keyurgit45 commented on #248
Is this issue open?

[2021-10-02 00:15] himanshusharma89 commented on #248
Yes @keyurgit45

[2021-10-08 09:55] ShrutiJ-01 commented on #251
Hey @himanshusharma89  the version of packages "geocoder" and  "modal_progress_hud" which the project are using are not null safe. There is a [null safe version of "modal_progress_hud" ](https://pub.dev/packages/modal_progress_hud_nsn) and [similar alternative for geocoder](https://pub.dev/packages/flutter_geocoder) I've found. May I add these dependencies in the pubspec instead of old ones?

[2021-10-10 01:06] himanshusharma89 commented on #251
Sure @ShrutiJ-01

[2021-10-27 10:49] Priyanshu078 opened #253 "Text is not displaying properly in Login Page"
# Bug Report 🐛
Text on the Login Page is not displaying properly.

## Expected Behavior
All the text should be displayed properly on the screen

## Current Behavior
Text is cut by other components of the screen

## Possible Solution
We have to make the Login page responsive to all screen sizes

## Detailed Description
![bugrelicbazaar](https://user-images.githubusercontent.com/66347715/139051798-9

[2021-10-27 10:56] Priyanshu078 opened #254 "Google SignIn not Working"
# Bug Report 🐛
Google SignIn in the login page of the app is not working.

## Expected Behavior
It should sign In the user inside the app

## Current Behavior
It is giving the error while using google sign In in the relic bazaar app.
PlatformException(sign_in_failed, com.google.android.gms.common.api.ApiException: 10: , null, null)

## Possible Solution
We have to update the SHA1 and SHA256 in the

[2021-10-28 11:11] Priyanshu078 opened #256 "Overflow in many places of the app"
# Bug Report 🐛
There is overflow error in many places in the UI of the app

## Expected Behavior
There should be no overflow error in the UI of the app

## Current Behavior
![productspage](https://user-images.githubusercontent.com/66347715/139244640-b0f0c3d2-20a4-44e7-bb8c-257a5f84f3ee.jpg)

![detailspage](https://user-images.githubusercontent.com/66347715/139244654-f49df2c5-9977-4db7-9158-effbcd4

[2021-10-28 16:20] #253 closed, assigned to Priyanshu078

[2021-11-09 19:27] Atharv-Joshi opened #258 "Password Visibility Icons on Authorization pages are inverted"
# Bug Report 🐛
### Visibility Icons in Authorization pages are inverted

When password is hidden the icon should be
![Screenshot 2021-11-10 004639](https://user-images.githubusercontent.com/53505850/140989901-4f655dab-290f-48b7-a8ab-c2a3b09893af.png)
while it is
![Screenshot 2021-11-10 004719](https://user-images.githubusercontent.com/53505850/140990016-c3a85056-8726-423d-8d8e-3f8eece26a4f.png)
Al

[2021-11-09 19:28] Atharv-Joshi commented on #258
Can I work on  this?

[2021-11-16 17:26] warpaltarpers commented on #258
I don't think this is a bug; while "flip-flop" buttons like the one in question aren't considered the best option because they don't tell you the current state, the standard is that the icon should show **what will happen when you click/tap on it**. So, the current behavior lines up with the standard.

[2021-11-17 12:50] Atharv-Joshi commented on #258
Yeah , the button state confused me for a second while exploring the app , ig something like show/hide would be more appropriate?

[2021-11-20 05:25] himanshusharma89 commented on #258
Hi @Atharv-Joshi, pardon me for the delayed response. Sure, you can work on this.

[2021-11-20 13:06] Atharv-Joshi commented on #258
No problem!

[2021-11-20 14:32] Atharv-Joshi commented on #248
The cart system is still hardcoded . I would like to work on this issue . Also the data should be stored in firebase collection right ?

[2021-11-20 17:56] himanshusharma89 commented on #248
The cart data can be stored locally as it'll be user-specific, but after successful payment, it'll be stored in firebase. @Atharv-Joshi

[2021-11-20 17:58] #258 closed

[2021-12-24 13:06] Omegaviv commented on #254
Hey @himanshusharma89  even I am getting the same issue while signing in with Google, could you also provide me access to the project Firebase console?

[2021-12-25 17:27] himanshusharma89 commented on #254
Hey @Omegaviv, you can skip the exception and it'll work in your local.

[2022-03-17 00:02] rragnarsd commented on #256
Is everything still overflowing? If so I can fix it

[2022-03-20 11:13] himanshusharma89 commented on #256
Hi @rragnarsd, sorry for the delayed response. Yes, we have overflow in many places, you can raise a PR for the fix.

Also, I am planning to get back and complete this project, so if you face any issues, please do raise a PR.

[2022-06-15 06:14] shubhamp269 commented on #248
is this issue open ?